﻿@model Sidepro.ViewModels.CursosViewModel
@using Sidepro.Entities
@using Sidepro.HelperExtensionNameSpace
@{
    ViewBag.Title = "Sidepro Movistar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="../Scripts/projekktor-1.3.09.min.js"></script>
<script src="../Scripts/slickQuiz.js"></script>
<script src="../Scripts/scripts.js"></script>

<script>
    var contenidoVideo = "";
    var urlVideo = '@Url.Action("ObtenerVideo", "Course")';
    var urlQuiz = '@Url.Action("ObtenerQuiz", "Course")';

    var urlSaveQuiz = '@Url.Action("grabarResultado", "Course")';
    var estadoVideo = '';
    var quizJSON = "";
    var quizHeader = "";
    var resultadoQuiz = false;
    var aprobo = false;
    var esCertificacion = false;
    var hayContenido = true;
    $(document).ready(function () {

        (function () {
            var method;
            var noop = function () { };
            var methods = [
                'assert', 'clear', 'count', 'debug', 'dir', 'dirxml', 'error',
                'exception', 'group', 'groupCollapsed', 'groupEnd', 'info', 'log',
                'markTimeline', 'profile', 'profileEnd', 'table', 'time', 'timeEnd',
                'timeStamp', 'trace', 'warn'
            ];
            var length = methods.length;
            var console = (window.console = window.console || {});

            while (length--) {
                method = methods[length];

                // Only stub undefined methods.
                if (!console[method]) {
                    console[method] = noop;
                }
            }
        }());
        var startValue = 70000; //Number of milliseconds
        var time = new Date(startValue);
        var interv;


        function done() {
            finishQuiz();//alert("Timer reached 00:00!");
        }


        function displayTime() {
            $(".quiz-timer__remaining").text(fillZeroes(time.getMinutes()) + ":" + fillZeroes(time.getSeconds()));
        }

        function fillZeroes(t) {
            t = t + "";
            if (t.length == 1)
                return "0" + t;
            else
                return t;
        }

        var enterQuiz = function () {
            // Timeout porque .ppstart no existe al insante
            // que se lanza enterQuiz.
            var isPlaying2 = $('.is-playing').attr('id').split('_');
            var modulo2 = isPlaying[1];
            if (modulo2 != 6) {
                //contenidoVideo = $('.js-course-video').html();
                setTimeout(function () {
                    $('.ppstart').fadeOut(700);

                    // Loading overlay mientras se carga todo el
                    // contenido por AJAX
                    $('.js-course-video-overlay').fadeIn(700);
                }, 100);


                $.ajax({
                    // Se carga el HTML para el sistema de preguntas y
                    // respuestas, cache activado porque esto es igual
                    // para todos los videos

                    // ACA TAMBIÉN DEBERÍA PRECARGARSE POR AJAX, DINÁMICAMENTE,
                    // EL JSON CON LAS PREGUNTAS CORRESPONDIENTES AL VIDEO.
                    // ---------
                    // Ahora están hard-codeadas como <script src="js/slickQuiz-config.js"> ...
                    url: "../ajax/quiz-post-video.html",
                    cache: true
                }).done(function (html) {
                    // Se esconde el reproductor de video y se muestra
                    // el HTML de preguntas y respuestas.
                    $('.js-course-video-container').fadeOut(700, function () {
                        $('.js-course-video').append(html);

                        $("#js-quiz").fadeIn(700);
                        $("#js-quiz").slickQuiz({
                            // Así se pasarían dinámicamente las preguntas precargadas por AJAX...
                            // json: url,
                            preventUnanswered: true,
                            disableRanking: true,
                            displayQuestionNumber: false,
                            displayQuestionCount: true,
                            preventUnansweredText: 'Debes seleccionar una respuesta.',
                            checkAnswerText: 'Verificar respuesta',
                            nextQuestionText: 'Siguiente &raquo;',
                            completeQuizText: 'Finalizar',
                            events: {
                                onStartQuiz: startQuiz,
                                onCompleteQuiz: finishQuiz
                            }
                        });

                    });


                    $('.quiz__header-title').text(quizHeader);

                });
            } else {
                $.ajax({
                    // Se carga el HTML para el sistema de preguntas y
                    // respuestas, cache activado porque esto es igual
                    // para todos los videos

                    // ACA TAMBIÉN DEBERÍA PRECARGARSE POR AJAX, DINÁMICAMENTE,
                    // EL JSON CON LAS PREGUNTAS CORRESPONDIENTES AL VIDEO.
                    // ---------
                    // Ahora están hard-codeadas como <script src="js/slickQuiz-config.js"> ...
                    url: "../ajax/quiz-post-noticia.html",
                    cache: true
                }).done(function (html) {
                    // Se esconde el reproductor de video y se muestra
                    // el HTML de preguntas y respuestas.
                    $('.js-course-video-container').fadeOut(700, function () {
                        $('.js-course-video').append(html);

                        $("#js-quiz").fadeIn(700);
                        $("#js-quiz").slickQuiz({
                            // Así se pasarían dinámicamente las preguntas precargadas por AJAX...
                            // json: url,
                            preventUnanswered: true,
                            disableRanking: true,
                            displayQuestionNumber: false,
                            displayQuestionCount: true,
                            preventUnansweredText: 'Debes seleccionar una respuesta.',
                            checkAnswerText: 'Verificar respuesta',
                            nextQuestionText: 'Siguiente &raquo;',
                            completeQuizText: 'Finalizar',
                            events: {
                                onStartQuiz: startQuiz,
                                onCompleteQuiz: finishQuiz
                            }
                        });

                    });


                    $('.quiz__header-title').text(quizHeader);

                });
            }

        }
        // Se esconden y se muestran algunas cosas cuando
        // arranca el quiz con el botón "¡Estoy listo!"
        var startQuiz = function () {
            $('.js-quiz-tips, .js-quiz-buttons').fadeOut(300, function () {
                $('.js-quiz-container').css('padding', 0);
            });
            $('.js-quiz-header').slideUp(600, function () {
                $('.js-quiz-timer').fadeIn(600);
            });
            $('.quiz__header-title').text(quizHeader);
            /*
                        (function () {
                                //displayTime();
                                $(".startQuiz").on("click", function () {
            */

            /*					});
                            });*/
        }
        $('.js-quiz-repeat').live('click', function () {
            //debugger
            //$('.js-course-video').html(contenidoVideo);
            location.reload();
        });
        var finishQuiz = function (results) {
            $('.js-quiz-timer').fadeOut(600);
            // Si todas las preguntas son correctas...
            var isPlaying = $('.is-playing').attr('id').split('_');
            var modulo = isPlaying[1];
            var curso = isPlaying[2];
            var leccion = isPlaying[3];
            var nota = 0;

            for (i = 0; i < results.questionCount; i++) {
                if ($('#question' + i).hasClass('correctResponse')) {
                    nota = parseFloat(nota) + parseFloat($('#question' + i).attr('valor'));
                }
            }

            saveQuiz(modulo, curso, leccion, nota);
            if (modulo != 6) {
                //if (results.questionCount == results.score) {
                if (aprobo) {
                    $('.js-quiz-results-copy').text('¡Felicitaciones! Respondiste correctamente todas las preguntas y podés continuar al próximo video.');
                    $('.js-quiz-results-btn').text('Ir al próximo video').attr("href", document.URL);
                } else {
                    setTimeout(function () {
                        $('.js-quiz-container').addClass('quiz__container--error');
                    }, 500);

                    if ($('.quiz-timer__remaining').text() == "00:01") {
                        $('.js-quiz-results-copy').text('Lamentablemente no respondiste las preguntas en el tiempo indicado, vas a tener que ver nuevamente el video.');
                    } else {
                        $('.js-quiz-results-copy').text('Lamentablemente no respondiste correctamente alguna de las preguntas, vas a tener que ver nuevamente el video.');
                    }
                    $('.js-quiz-results-btn')
						.text('Volver al video')
						.css('color', '#CD2700').attr("href", document.URL);
                }
            } else {
                if (aprobo) {
                    $('.js-quiz-results-copy').text('¡Felicitaciones! Respondiste correctamente todas las preguntas y podés continuar con la proxima noticia.');
                    $('.js-quiz-results-btn').text('Finalizar').attr("href", document.URL);
                } else {
                    setTimeout(function () {
                        $('.js-quiz-container').addClass('quiz__container--error');
                    }, 500);

                    if ($('.quiz-timer__remaining').text() == "00:01") {
                        $('.js-quiz-results-copy').text('Lamentablemente no respondiste las preguntas en el tiempo indicado, vas a tener que leer nuevamente la noticia.');
                    } else {
                        $('.js-quiz-results-copy').text('Lamentablemente no respondiste correctamente alguna de las preguntas, vas a tener que leer nuevamente la noticia.');
                    }
                    $('.js-quiz-results-btn')
						.text('Volver a responder el cuestionario')
						.css('color', '#CD2700').attr("href", document.URL);
                }
            }
        }
        var isPlaying = $('.is-playing').attr('id').split('_');
        var modulo = isPlaying[1];
        var curso = isPlaying[2];
        var leccion = isPlaying[3];

        // Video player: Projekktor
        var projekktorTemplate = '\
                <ul class="left">\
                    <li><div %{play}></div><div %{pause}></div></li>\
                    <li><div %{title}></div></li>\
                </ul>\
                <ul class="right">\
                    <li><div %{fsexit}></div><div %{fsenter}></div></li>\
                    <li><div class="ppvslider-container"><i class="ppvslider-icon"></i><div %{vslider}><div %{vmarker}></div><div %{vknob}></div></div></div></li>\
                    <li><div %{timeleft}>%{min_elp}:%{sec_elp}<span class="duration">%{min_dur}:%{sec_dur}</span></div></li>\
                </ul>\
                <ul class="bottom">\
                    <li><div %{scrubber}><div %{loaded}></div><div %{playhead}></div><div %{scrubberdrag}></div></div></li>\
                </ul>\
            ';

        if (modulo != 6) {

            /*
			var projekktorTemplate = "";
			$('.ppstart').hide();
		}*/
            var videoPlayer = projekktor('.js-course-video-player', {
                volume: 1,
                width: 0,
                height: null,
                ratio: 16 / 9,
                playerFlashMP4: '../Scripts/StrobeMediaPlayback.swf',
                controlsTemplate: projekktorTemplate,
                fadeDelay: 0
            });

            videoPlayer.addListener('state', function () {
                estadoVideo = videoPlayer.getState();
                if (videoPlayer.getState() == 'COMPLETED') {

                    var isPlaying = $('.is-playing').attr('id');
                    if ((!$('#' + isPlaying).hasClass('is-viewed'))) {

                        if (hayContenido) {
                            enterQuiz();
                            $('.quiz__header-title').text(quizHeader);
                        } else {
                            //debugger
                            var isPlaying = $('.is-playing').attr('id').split('_');
                            var modulo = isPlaying[1];
                            var curso = isPlaying[2];
                            var leccion = isPlaying[3];
                            saveQuiz(modulo, curso, leccion, 10);
                            location.reload();

                        }
                    }
                }
            });

        }


        function obtenerHeader(modulo, curso, leccion) {

            $.ajax({
                type: "GET",
                dataType: "json",
                url: urlQuiz,
                contentType: "application/json; charset=utf-8",
                data: { id_modulo: modulo, id_curso: curso, id_leccion: leccion },
                success: function (data) {
                    quizJSON = JSON.parse(data);
                    quizHeader = quizJSON.info.name;

                    if (quizJSON.info.name == null) { hayContenido = false } else { hayContenido = true }

                },
                error: function (xhr, status, error) {
                    alert(error);
                }
            });
        }

        function saveQuiz(modulo, curso, leccion, Nota) {

            $.ajax({
                type: "GET",
                dataType: "json",
                url: urlSaveQuiz,
                contentType: "application/json; charset=utf-8",
                async: false,
                cache: false,
                data: { id_modulo: modulo, id_curso: curso, id_leccion: leccion, nota: Nota },
                success: function (data) {

                    aprobo = data.aprobo;
                },
                error: function (xhr, status, error) {
                    alert(error);
                }
            });
        }

        obtenerHeader(modulo, curso, leccion);
        contenidoVideo = $('.js-course-video').html();
        if (modulo == 6) {

            enterQuiz();
        }


    });
    function obtenerHeader(modulo, curso, leccion) {

        $.ajax({
            type: "GET",
            dataType: "json",
            url: urlQuiz,
            contentType: "application/json; charset=utf-8",
            data: { id_modulo: modulo, id_curso: curso, id_leccion: leccion },
            success: function (data) {
                quizJSON = JSON.parse(data);
                quizHeader = quizJSON.info.name;

                if (quizJSON.info.name == null) { hayContenido = false } else { hayContenido = true }

            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    }
    function seleccionarVideo(idModulo, idCurso, idLeccion) {

        if (estadoVideo == 'IDLE') {
            location.reload();
        } else {
            var leccion = $('#liLeccion_' + idModulo + "_" + idCurso + "_" + idLeccion);

            if (!leccion.hasClass("is-playing")) {
                $.ajax({
                    type: "GET",
                    dataType: "json",
                    url: urlVideo,
                    contentType: "application/json; charset=utf-8",
                    data: { id_modulo: idModulo, id_curso: idCurso, id_leccion: idLeccion },
                    success: function (data) {
                        var obj = JSON.parse(data);
                        setearIsPlaying(idModulo, idCurso, idLeccion);
                        cambiarVideo(obj.imagen, obj.video, obj.nombre);
                        cambiarQuiz(obj);
                        obtenerHeader(idModulo, idCurso, idLeccion);
                    },
                    error: function (xhr, status, error) {
                        alert(error);
                    }
                });
            }
        }
    }
    function setearIsPlaying(idModulo, idCurso, idLeccion) {
        $('.is-playing').removeClass('is-playing');
        var miLi = $('#liLeccion_' + idModulo + "_" + idCurso + "_" + idLeccion);
        miLi.addClass('is-playing');
    }
    function cambiarVideo(urlFisicaImagen, urlFisicaVideo, nuevoNombre) {
        //var videoContainer = $('#divVideoContainer');
        var player = projekktor();

        player.setStop();
        player.setPlayerPoster(urlFisicaImagen);
        player.setFile(urlFisicaVideo, 'video/' + urlFisicaVideo.split('.').pop());

        $('#videoLeccion').attr('title', nuevoNombre);
        $('#videoLeccion_media_image').attr('src', urlFisicaImagen).attr('alt', nuevoNombre);
        //$('.pptitle').text(nuevoNombre);
    }
    function cambiarQuiz(obj) {
        quizJSON = obj;
        quizHeader = quizJSON.info.name;
    }
    function successFunc(data, status) {
        alert(data);
    }
    function errorFunc() {
        alert('error');
    }



</script>

@if (Model.leccionesDelCurso.First().Id_modulo == 6)
{
    <div class="course-video js-course-video">
        <div id="divVideoContainer" class="course-video__container js-course-video-container">
            <div class="course-video__overlay js-course-video-overlay"></div>
            <video id="videoLeccion" class="course-video__player js-course-video-player" title=""></video>
        </div>
    </div>
}
else
{
    <div class="course-video js-course-video">
        <div id="divVideoContainer" class="course-video__container js-course-video-container">
            <div class="course-video__overlay js-course-video-overlay"></div>
            <video id="videoLeccion" class="course-video__player js-course-video-player" controls poster="@Model.leccionesDelCurso.Where(x => x.Sn_Activo == -2).First().URL_Imagen" title="">
                <source src="@Model.leccionesDelCurso.Where(x => x.Sn_Activo == -2).First().URL_Video" />
            </video>
        </div>
    </div>
}

<div class="course-content">
    <div class="course-info">
        <h1 class="course-info__title">@Model.nombreCurso</h1>
        <div class="course-info__pic" style="background-image:url(@Model.imagenCurso)"></div>
    </div>
    <ul class="course-list">
        @foreach (Leccion miLeccion in Model.leccionesDelCurso)
        {
            @Html.Raw("<li id='liLeccion_" + miLeccion.Id_modulo + "_" + miLeccion.Id_curso + "_" + miLeccion.Id_leccion + "' class='" + miLeccion.Style + "'>")
            if (miLeccion.PuedeRealizar == -1) { 
                @Html.Raw("<a href='javascript:void(0)' onClick='seleccionarVideo(" + miLeccion.Id_modulo.ToString() + ", " + miLeccion.Id_curso.ToString() + ", " + miLeccion.Id_leccion.ToString() + ")' >" + miLeccion.Nombre + "<i title='" + (miLeccion.Sn_visto == -1 ? "Visto y aprobado" : "") + "'></i></a>")
            }
            else
            {
                @Html.Raw("<a href='javascript:void(0)' onClick='' >" + miLeccion.Nombre + "<i title='" + (miLeccion.Sn_visto == -1 ? "Visto y aprobado" : "") + "'></i></a>")
            }
            @Html.Raw("</li>")

        }
    </ul>
</div>

