/*
Theme Name: Sidepro
Description: Based on projekktor's default theme 'Maccaco'
Version: 0.1
Author: Nik Lanús
*/


// SETUP
$bar-height: 42px;
$scrubber-height: 6px;

.projekktor {
    background-color: #000; 
    text-transform:uppercase;
    padding:0;
    display:block;
    position: relative;
    overflow: hidden;
}


/***************************************
display plugin
***************************************/
.ppdisplay {
    background-color: #000; 
    position: relative !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    
    // poster img
    div img {
        filter: alpha(opacity = 70);
        -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
        opacity: 0.70;
    }
}

.ppdisplay .inactive,
.ppstart.inactive,
.ppbuffering.inactive {
    display: none;
}

.ppstart {
    position: absolute;
    left: 50%;
    bottom: 50%;
    margin-left:-45px;
    margin-bottom: -38px;
    cursor: pointer;
    height: 84px;
    width: 84px;
    display: block;
    padding: 0px;
    text-align: center;
    border-radius: 42px;
    color: $movistar-green-2;
    background: white;
    @include transition(350ms);
    box-shadow: 0px 7px 20px rgba(0,0,0,0.1),
                0px 3px 5px rgba(0,0,0,0.1);

    &:before {
        @extend .ti;
        @extend .ti-control-play;
        
        font-size: 2.8em;
        line-height: 84px;
        position: relative;
        top: 1px;
        left: 4px;
    }

    &:hover, &:active {
        background: $movistar-green-2;
        color: white;
    }
}


.ppbuffering {    
    position: absolute;
    left: 50%;
    bottom: 50%;
    margin-left:-45px;
    margin-bottom: -38px;
    display: block;
    z-index:9010;
    padding: 0px;
    background: url("buffering.gif") no-repeat center center #000;
    height: 84px;
    width: 84px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;    
}


/***************************************
controlbar plugin
***************************************/

.ppcontrols {
    width: 100%;
    height: $bar-height;
    line-height: $bar-height;
    display: block;
    position: absolute;
    bottom: 0;
    right:0;
    background: darken($dark-gray,10);
    padding: 0;
    margin:0;

    &.active {
        filter: alpha(opacity=100);
        opacity: 1;
        -webkit-backface-visibility: hidden;
        -webkit-transform: translate3d(0,0,0);
        transition: opacity 0.1s linear;
    }

    &.inactive {
        filter: alpha(opacity=0);
        opacity: 0;
        -webkit-backface-visibility: hidden;
        -webkit-transform: translate3d(0,0,0);
        transition: opacity 0.5s linear;
    }
}

.projekktor.notransitions .ppcontrols {
    &.active {
        display: block;
    }
    &.inactive {
        display: none;
    }
}

.ie .ppcontrols.inactive {
    display: none;
}

.ppcontrols ul {
    list-style-type: none;

    &.left {
        position: relative;
        top: 0;
        left: 0;
        padding: 0;
        margin:0;

        li {
            float: left;
            position: relative;
        }
    } 

    &.right {
        position: relative;
        top: 0;
        right: 0;
        padding: 0;
        margin:0;

        li {
            float: right;
            position: relative;  
        }
         
    }

    &.bottom {
        position: relative;
        top: -($scrubber-height);
        left: 0;
        padding: 0;
        margin:0;
    }
}


.ppplay, .pppause,
.ppfsenter, .ppfsexit,
.ppvmax, .ppmute,
.pptimeleft,
.pploquality, .pphiquality,
.ppnext, .ppprev,
.pploop, .pploop .on, .pploop .off,
.pptitle {
    height: $bar-height;
    line-height: inherit;
    text-align: center;
    cursor: pointer;

    &:before {
        line-height: inherit;
    }
}

.pptitle {
    color: white;
    font-size: 0.9em;
    line-height: 38px;
    padding-left: 10px;

    @include media('max-width: 767px') {
        display: none;
    }
}

/* PLAY / PAUSE - left */
.ppplay,
.pppause  {
    width: 60px;
    cursor: pointer;
    background-color: darken($dark-gray,5);
    @include transition(250ms);
    
    &:before {
        @extend .ti;
        color: white;
        font-size: 1.35em;
    }

    &:hover, &:active {
        background-color: lighten($dark-gray,5);
    }

    &.active { display: block; }
    &.inactive { display: none; }
}

.ppplay {
    &:before {
        @extend .ti-control-play;
    }
}

.pppause {
    &:before {
        @extend .ti-control-pause;
    }
}



/* Enter / Exit Fullscreen - right */
.projekktor.audio .ppfsenter,
.projekktor.audio .ppfsexit {
    display: none;
}

.ppfsenter,
.ppfsexit  {
    padding-right: 10px;

    &.active { display: block; }
    &.inactive { display: none; }

    &:before {
        @extend .ti;
        color: white;
    }
}

.ppfsenter {
    &:before {
        @extend .ti-fullscreen;
    }
}

.ppfsexit {
    &:before {
        @extend .ti-close;
    }
}


/* Unmute / Max volume - right */
.ppvmax {
    width: 30px;
    border-right: 1px solid #000;    
    border-left:none; 
    background: url("maccaco.png") no-repeat -842px top transparent;
}

.ppvmax:hover  {
    background: url("maccaco.png") no-repeat -842px -35px transparent;
}
.ppvmax:active  {
    background: url("maccaco.png") no-repeat -842px -36px transparent;
}



/* Mute / Min volume - right */
.ppmute  {
    width: 29px;
    border-left:1px solid #413e3e;
    background: url("maccaco.png") no-repeat -750px top transparent;
}
.ppmute:hover  {
    background: url("maccaco.png") no-repeat -750px -35px transparent;
}
.ppmute:active  {
    background: url("maccaco.png") no-repeat -750px -36px transparent;
}



/* volume slider - right */

.ppvslider-container {
    height: $bar-height;
    position: relative;
    border-right: 1px solid darken($dark-gray,5);
    padding-right: 13px;
    margin-right: 10px;
    @include clearfix;
    
    @include media('max-width: 767px') {
        display: none;
    }
}

.ppvslider-icon {
    line-height: inherit;
    position: relative;
    display: inline-block;
    float: left;
    color: white;
    margin-right: 10px;

    &:before {
        @extend .ti;
        @extend .ti-volume;
    }
}

.ppvslider {
    width: 60px;
    height: 6px;
    display: inline-block;
    float: left;
    margin: 18px 0 0 0;
    background: lighten($dark-gray,5);
    border-radius: 0 6px 6px 0;
}

.ppvmarker {
    position: relative;
    right:0;
    left: 0;
    height: 6px;
    width: 100%;
    background: $movistar-blue-2;
    border-radius: 6px 0 0 6px;
}

.ppvknob  {
    cursor: pointer;
    z-index: 201;
    position: relative;
    background: white;
    border-radius: 6px;
    top: -9px;
    left:0;
    width: 12px;
    height: 12px;
    padding: 0;
}



/* time / time left */
.pptimeleft {    
    color: #fff;
    border-right: 1px solid darken($dark-gray,5);
    text-align: center;
    overflow: hidden;
    padding-right: 10px;
    margin-right: 10px;
    line-height: 38px;
    font-size: 0.9em;

    .duration {
        color: lighten($dark-gray, 20);
        padding-left: 7px;
    }
}


/* lo / hi quality toggle */
.pploquality, .pphiquality {
    background: url("maccaco.png") no-repeat -60px -72px transparent;
    width: 30px;
    cursor: pointer;
    border-left:1px solid #413e3e;
    border-right:1px solid #000;    
}

.pphiquality:hover {
    background: url("maccaco.png") no-repeat -32px -106px transparent;
}

.pploquality {
    background: url("maccaco.png") no-repeat -32px -72px transparent;
}

.pploquality:hover {
    background: url("maccaco.png") no-repeat -32px -106px transparent;
}

.pphiquality:active, .pploquality:active  {
    background: url("maccaco.png") no-repeat -32px -105px transparent;
}




/* previous / next item */
.ppnext,
.ppprev {
    display:block;
    background: url("maccaco.png") no-repeat -59px top transparent;
    width: 30px;
    cursor: pointer;
    border-left:1px solid #413e3e;
    border-right:1px solid #000;
}
.ppnext { border-right:none;}
.ppnext:hover {
    background: url("maccaco.png") no-repeat -59px -35px transparent;
}
.ppnext:active {
    background: url("maccaco.png") no-repeat -59px -36px transparent;
}

.ppprev {
    background: url("maccaco.png") no-repeat -32px top transparent;
}

.ppprev:hover {
    background: url("maccaco.png") no-repeat -32px -35px transparent;
}
.ppprev:active {
    background: url("maccaco.png") no-repeat -32px -36px transparent;
}


.pploop,
.pploop .on,
.pploop .off {
    display:block;
    line-height: 30px;
    color: #fff;
    width: 30px;
    cursor: pointer;
    border-left:1px solid #413e3e;
    border-right:1px solid #000;
}

.pploop.off {
    color: #ccc;
}

/* Scrubber, Playhead and fluff */

.ppscrubber {
    position: absolute;
    height: $scrubber-height;
    width: 100%;
    left: 0;
    margin: 0;
    padding: 0;
}

.ppscrubberdrag {
    cursor: pointer;
    z-index: 302;
    position: absolute;
    background-color: transparent;    
    top:0;
    left:0;
    height: $scrubber-height;
    width: 100%;
}

.ppplayhead, .pploaded {
    position: relative;
    display: block;
    left: 0;
    bottom: 0;
    height: $scrubber-height;
    width: 1px;
    background-color: $movistar-green-2;
    cursor: pointer;
    z-index: 301;
    -webkit-backface-visibility: hidden;
    -webkit-transform:translate3d(0,0,0);
    -moz-transition: width 0.1s linear;
    transition: width 0.1s linear;        
}

.ppcuepoint {
    position: absolute;
    height: $scrubber-height;
    width: 6px;
    background-color: yellow;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    z-index: 302;
}

.ppcuepoint:hover {
    background-color: red;
    cursor: pointer;
}

.pploaded {
    position: relative;    
    z-index: 10;
    background: black;
    opacity: 0.45;
    filter: alpha(opacity = 45);
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=45)";
}

.ppplayhead {
    margin-top: -($scrubber-height);
}


.ppscrubbertip {
    padding: 3px;
    position: absolute;
    top: -30px;
    left: 25px;
    font-size: 11px;
    line-height: 15px;
    color: #fdfdfd;
    background: #2e2d2d;
    z-index: 10;
    display: none;
}
.ppscrubbertip:after {
	top: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.ppscrubbertip:after {
	border-color: rgba(2, 28, 79, 0);
	border-top-color: #333;
	border-width: 5px;
	left: 50%;
	margin-left: -5px;
}


/* Context Menu */
.ppcontextmenu.active {
    display: block;
}
.ppcontextmenu.inactive {
    display: none;
}
.ppcontextmenu  {
    background: none repeat scroll 0 0 #FFFFFF;
    list-style: none outside none;
    border: 1px solid #CCCCCC;
    border-radius: 2px 2px 2px 2px;
    margin: 4px 0;
    outline: medium none;
    overflow: auto;
    padding: 6px 0;
    position: absolute;
    z-index: 2147483647;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
}

.ppcontextmenu li {
    color: #333;
    cursor: pointer;
    display: block;
    margin: 0;
    padding: 6px 20px;
    text-decoration: none;
    white-space: nowrap;
    word-wrap: normal;
}

.ppcontextmenu li:hover {
    color: #fff;
    background-color: #333;
}


/****************************
/* VAST ad plugin specific */
/***************************/
/*
.ppad .left,
.ppad .right {
    display: none;
    border: none;
}

.ppad .ppcontrols {
    background: transparent;
    border: none;
}

.ppad .ppadtitle {
    position: absolute;
    bottom: 2%;
    left: 2%;
    border: none;    
}

.ppadskip {
    position: absolute;
    padding-top: 2px;
    bottom: -10px;
    right: 0px;
    width: 85%;
    height: 28px;
    background-color: transparent;
    color: #fdfdfd;
}

.ppskip.locked {
    background-color: red;
}

.ppskip.unlocked {
    cursor: pointer;
    color: #00B0FF;
}


.pppostad .ppprev.active {
    display: none;
}

.ppadoverlay.inactive {
    display: none;
}
*/

/****************************
/* Subtitles plugin specific */
/***************************/
/*
.pptracksbtn.inactive,
.pptracks.inactive {
    display: none;
}

.pptracksbtn.active,
.pptracks.active {
    display: block;
}

.pptracks span {
    position: relative;
}

.pptracksbtn.on,
.pptracksbtn.off {
    background: url("maccaco.png") no-repeat -120px -72px transparent;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-left:1px solid #413e3e;
    border-right:1px solid #000;    
}

.pptracksbtn.on {
    background: url("maccaco.png") no-repeat -92px -72px transparent;
}

.pptracksbtn:hover {
    background: url("maccaco.png") no-repeat -118px -106px transparent;
}

.pptracks  {
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    overflow: hidden;
    color: #fdfdfd;
    background:rgb(0,0,0);
    background: transparent\9;
    background:rgba(0,0,0,0.6);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000);
    zoom: 1;
    padding: 5px 0;
    z-index: 1000;
}

.pptracks.shifted {
    bottom: 38px;
}
*/
