<div class="lightbox lightbox--certif">
    <div class="lightbox__header">
        <button class="lightbox__close js-lightbox-close"></button>
        <h2 class="lightbox__title">Certificación: septiembre 2015</h2>
    </div>
    <div class="certif-history">
        <div class="certif-history__container">
            
            <div class="certif-history__question certif-history__question--correct">
                <p class="certif-history__question-text">1. ¿Cual es la respuesta a esta pregunta?</p>
                <ul class="certif-history__answers">
                    <li class="certif-history__answer certif-history__answer--incorrect">
                        <p>Respuesta incorrecta.</p>
                    </li>
                    <li class="certif-history__answer certif-history__answer--correct certif-history__answer--selected">
                        <p>Respuesta correcta, seleccionada.</p>
                    </li>
                    <li class="certif-history__answer certif-history__answer--incorrect">
                        <p>Respuesta incorrecta.</p>
                    </li>
                    <li class="certif-history__answer certif-history__answer--incorrect">
                        <p>Respuesta incorrecta.</p>
                    </li>
                </ul>
            </div>

            <div class="certif-history__question certif-history__question--incorrect">
                <p class="certif-history__question-text">2. ¿Cual es la respuesta a esta pregunta?</p>
                <ul class="certif-history__answers">
                    <li class="certif-history__answer certif-history__answer--incorrect">
                        <p>Respuesta incorrecta.</p>
                    </li>
                    <li class="certif-history__answer certif-history__answer--correct">
                        <p>Respuesta correcta.</p>
                    </li>
                    <li class="certif-history__answer certif-history__answer--incorrect">
                        <p>Respuesta incorrecta.</p>
                    </li>
                    <li class="certif-history__answer certif-history__answer--incorrect certif-history__answer--selected">
                        <p>Respuesta incorrecta, seleccionada.</p>
                    </li>
                </ul>
            </div>

            <div class="certif-history__question certif-history__question--correct">
                <p class="certif-history__question-text">3. ¿Cual es la respuesta a esta pregunta?</p>
                <ul class="certif-history__answers">
                    <li class="certif-history__answer certif-history__answer--incorrect">
                        <p>Respuesta incorrecta.</p>
                    </li>
                    <li class="certif-history__answer certif-history__answer--correct certif-history__answer--selected">
                        <p>Respuesta correcta, seleccionada.</p>
                    </li>
                    <li class="certif-history__answer certif-history__answer--incorrect">
                        <p>Respuesta incorrecta.</p>
                    </li>
                    <li class="certif-history__answer certif-history__answer--incorrect">
                        <p>Respuesta incorrecta.</p>
                    </li>
                </ul>
            </div>

            <div class="certif-history__question certif-history__question--incorrect">
                <p class="certif-history__question-text">4. ¿Cual es la respuesta a esta pregunta?</p>
                <ul class="certif-history__answers">
                    <li class="certif-history__answer certif-history__answer--incorrect">
                        <p>Respuesta incorrecta.</p>
                    </li>
                    <li class="certif-history__answer certif-history__answer--correct">
                        <p>Respuesta correcta.</p>
                    </li>
                    <li class="certif-history__answer certif-history__answer--incorrect">
                        <p>Respuesta incorrecta.</p>
                    </li>
                    <li class="certif-history__answer certif-history__answer--incorrect certif-history__answer--selected">
                        <p>Respuesta incorrecta, seleccionada.</p>
                    </li>
                </ul>
            </div>

            <div class="certif-history__question certif-history__question--correct">
                <p class="certif-history__question-text">5. ¿Cual es la respuesta a esta pregunta?</p>
                <ul class="certif-history__answers">
                    <li class="certif-history__answer certif-history__answer--incorrect">
                        <p>Respuesta incorrecta.</p>
                    </li>
                    <li class="certif-history__answer certif-history__answer--correct certif-history__answer--selected">
                        <p>Respuesta correcta, seleccionada.</p>
                    </li>
                    <li class="certif-history__answer certif-history__answer--incorrect">
                        <p>Respuesta incorrecta.</p>
                    </li>
                    <li class="certif-history__answer certif-history__answer--incorrect">
                        <p>Respuesta incorrecta.</p>
                    </li>
                </ul>
            </div>

            <div class="certif-history__question certif-history__question--incorrect">
                <p class="certif-history__question-text">6. ¿Cual es la respuesta a esta pregunta?</p>
                <ul class="certif-history__answers">
                    <li class="certif-history__answer certif-history__answer--incorrect">
                        <p>Respuesta incorrecta.</p>
                    </li>
                    <li class="certif-history__answer certif-history__answer--correct">
                        <p>Respuesta correcta.</p>
                    </li>
                    <li class="certif-history__answer certif-history__answer--incorrect">
                        <p>Respuesta incorrecta.</p>
                    </li>
                    <li class="certif-history__answer certif-history__answer--incorrect certif-history__answer--selected">
                        <p>Respuesta incorrecta, seleccionada.</p>
                    </li>
                </ul>
            </div>
                
            <p class="certif-history__points">Puntaje final: <strong>80%</strong></p>
        </div>
    </div>
</div>