<div class="quiz quiz--post-video" id="js-quiz">
    <div class="quiz__header quiz__header--post-video js-quiz-header">
        <p class="quiz__header-subtitle">Cuestionario</p>
        <h2 class="quiz__header-title" id="quizHeader"></h2>
    </div>
    <div class="quiz__container quiz__container--post-video js-quiz-container">
        <div class="quiz__buttons js-quiz-buttons">
            <button class="quiz__btn quiz__btn--main startQuiz">¡Estoy listo!</button>
        </div>

        <div class="quiz__questions" id="js-quiz-questions">
            <div class="quizArea">
                <div class="quizHeader">
                    <div class="quiz__tips js-quiz-tips">
                        <div class="quiz__tip quiz__tip--one">
                            <i></i>
                            <p>Contestá correctamente el siguiente cuestionario para verificar que hás comprendido la noticia.</p>
                        </div>
                        <div class="quiz__tip quiz__tip--two">
                            <i></i>
                            <p>Contás con 70 segundos para responder unas preguntas sobre la noticia que acabas de leer.</p>
                        </div>
                        <div class="quiz__tip quiz__tip--three">
                            <i></i>
                            <p>En caso de equivocarte en alguna pregunta, vas a tener que leer la noticia otra vez.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="quizResults">
                <div class="quiz__results">
                    <p class="quiz__results-copy js-quiz-results-copy"></p>
                    <a href="" class="quiz__btn quiz__btn--main js-quiz-results-btn"></a>
                </div>
                
            </div>
        </div>
    </div>
    <div class="quiz-timer js-quiz-timer">
        <div class="quiz-timer__remaining">01:10</div>
    </div>
</div>
<script> 
	$(document).ready(function () {
		$('.quiz__header-title').text(quizHeader);

	});
</script>
