﻿@charset "UTF-8";
/* SETUP */
@-webkit-keyframes wobble {
  16.65% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px); }
  33.3% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px); }
  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px); }
  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px); }
  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px); }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }
@keyframes wobble {
  16.65% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px); }
  33.3% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px); }
  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px); }
  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px); }
  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px); }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }
@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }
html {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

*, *:before, *:after {
  -moz-box-sizing: inherit;
       box-sizing: inherit; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

@media print {
  *,
  *:before,
  *:after {
    color: #000 !important;
    text-shadow: none !important;
    background: transparent !important;
    box-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; }

  select {
    background: #fff !important; }

  .table {
    border-collapse: collapse !important; }

  td,
  th {
    background-color: #fff !important; } }
@font-face {
  font-family: 'Movistar Headline';
  src: url("fonts/movistarheadline-regular-webfont.eot");
  src: url("fonts/movistarheadline-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/movistarheadline-regular-webfont.woff2") format("woff2"), url("fonts/movistarheadline-regular-webfont.woff") format("woff"), url("fonts/movistarheadline-regular-webfont.ttf") format("truetype"), url("fonts/movistarheadline-regular-webfont.svg#movistar_headlineregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Movistar Text';
  src: url("fonts/movistartext-regular-webfont.eot");
  src: url("fonts/movistartext-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/movistartext-regular-webfont.woff2") format("woff2"), url("fonts/movistartext-regular-webfont.woff") format("woff"), url("fonts/movistartext-regular-webfont.ttf") format("truetype"), url("fonts/movistartext-regular-webfont.svg#movistar_textregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Movistar Text';
  src: url("fonts/movistartext-bold-webfont.eot");
  src: url("fonts/movistartext-bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/movistartext-bold-webfont.woff2") format("woff2"), url("fonts/movistartext-bold-webfont.woff") format("woff"), url("fonts/movistartext-bold-webfont.ttf") format("truetype"), url("fonts/movistartext-bold-webfont.svg#movistar_textbold") format("svg");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'themify';
  src: url("fonts/themify.eot?-fvbane");
  src: url("fonts/themify.eot?#iefix-fvbane") format("embedded-opentype"), url("fonts/themify.woff?-fvbane") format("woff"), url("fonts/themify.ttf?-fvbane") format("truetype"), url("fonts/themify.svg?-fvbane#themify") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="ti-"], [class*=" ti-"] {
  font-family: 'themify';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.ti, .login__input:before, .site-header__btn, .header-menu__btn i, .footer__help-link i, .lightbox__close, .pagination__prev:before, .pagination__next:before, .quiz__header-title--certif:before, .quiz__btn i, .quiz__tip i, .quiz-timer:before, .certif-results__title:before, .profile__pic-btn:before, .pic-update__instructions i, .certif-history__answer p:before {
  font-family: 'themify';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.ti-wand:before {
  content: "\e600"; }

.ti-volume:before {
  content: "\e601"; }

.ti-user:before, .login__input--user:before, .btn--profile i:before {
  content: "\e602"; }

.ti-unlock:before {
  content: "\e603"; }

.ti-unlink:before {
  content: "\e604"; }

.ti-trash:before {
  content: "\e605"; }

.ti-thought:before {
  content: "\e606"; }

.ti-target:before {
  content: "\e607"; }

.ti-tag:before {
  content: "\e608"; }

.ti-tablet:before {
  content: "\e609"; }

.ti-star:before {
  content: "\e60a"; }

.ti-spray:before {
  content: "\e60b"; }

.ti-signal:before {
  content: "\e60c"; }

.ti-shopping-cart:before {
  content: "\e60d"; }

.ti-shopping-cart-full:before {
  content: "\e60e"; }

.ti-settings:before {
  content: "\e60f"; }

.ti-search:before {
  content: "\e610"; }

.ti-zoom-in:before {
  content: "\e611"; }

.ti-zoom-out:before {
  content: "\e612"; }

.ti-cut:before {
  content: "\e613"; }

.ti-ruler:before {
  content: "\e614"; }

.ti-ruler-pencil:before {
  content: "\e615"; }

.ti-ruler-alt:before {
  content: "\e616"; }

.ti-bookmark:before {
  content: "\e617"; }

.ti-bookmark-alt:before {
  content: "\e618"; }

.ti-reload:before, .quiz__btn--alt .repeat:before {
  content: "\e619"; }

.ti-plus:before {
  content: "\e61a"; }

.ti-pin:before {
  content: "\e61b"; }

.ti-pencil:before {
  content: "\e61c"; }

.ti-pencil-alt:before {
  content: "\e61d"; }

.ti-paint-roller:before {
  content: "\e61e"; }

.ti-paint-bucket:before {
  content: "\e61f"; }

.ti-na:before, .quiz__tip--three i:before, .certif-results__title--failure:before {
  content: "\e620"; }

.ti-mobile:before {
  content: "\e621"; }

.ti-minus:before {
  content: "\e622"; }

.ti-medall:before {
  content: "\e623"; }

.ti-medall-alt:before, .quiz__header-title--certif:before {
  content: "\e624"; }

.ti-marker:before {
  content: "\e625"; }

.ti-marker-alt:before {
  content: "\e626"; }

.ti-arrow-up:before {
  content: "\e627"; }

.ti-arrow-right:before {
  content: "\e628"; }

.ti-arrow-left:before {
  content: "\e629"; }

.ti-arrow-down:before {
  content: "\e62a"; }

.ti-lock:before, .login__input--password:before {
  content: "\e62b"; }

.ti-location-arrow:before {
  content: "\e62c"; }

.ti-link:before {
  content: "\e62d"; }

.ti-layout:before {
  content: "\e62e"; }

.ti-layers:before {
  content: "\e62f"; }

.ti-layers-alt:before {
  content: "\e630"; }

.ti-key:before {
  content: "\e631"; }

.ti-import:before {
  content: "\e632"; }

.ti-image:before, .profile__pic-btn:before {
  content: "\e633"; }

.ti-heart:before {
  content: "\e634"; }

.ti-heart-broken:before {
  content: "\e635"; }

.ti-hand-stop:before {
  content: "\e636"; }

.ti-hand-open:before {
  content: "\e637"; }

.ti-hand-drag:before {
  content: "\e638"; }

.ti-folder:before {
  content: "\e639"; }

.ti-flag:before {
  content: "\e63a"; }

.ti-flag-alt:before {
  content: "\e63b"; }

.ti-flag-alt-2:before {
  content: "\e63c"; }

.ti-eye:before {
  content: "\e63d"; }

.ti-export:before {
  content: "\e63e"; }

.ti-exchange-vertical:before {
  content: "\e63f"; }

.ti-desktop:before {
  content: "\e640"; }

.ti-cup:before {
  content: "\e641"; }

.ti-crown:before {
  content: "\e642"; }

.ti-comments:before {
  content: "\e643"; }

.ti-comment:before {
  content: "\e644"; }

.ti-comment-alt:before {
  content: "\e645"; }

.ti-close:before, .lightbox__close:before, .certif-history__answer--incorrect p:before {
  content: "\e646"; }

.ti-clip:before {
  content: "\e647"; }

.ti-angle-up:before {
  content: "\e648"; }

.ti-angle-right:before, .pagination__next:before {
  content: "\e649"; }

.ti-angle-left:before, .pagination__prev:before {
  content: "\e64a"; }

.ti-angle-down:before {
  content: "\e64b"; }

.ti-check:before, .certif-results__title--success:before, .certif-history__answer--correct p:before {
  content: "\e64c"; }

.ti-check-box:before {
  content: "\e64d"; }

.ti-camera:before {
  content: "\e64e"; }

.ti-announcement:before {
  content: "\e64f"; }

.ti-brush:before {
  content: "\e650"; }

.ti-briefcase:before {
  content: "\e651"; }

.ti-bolt:before {
  content: "\e652"; }

.ti-bolt-alt:before {
  content: "\e653"; }

.ti-blackboard:before {
  content: "\e654"; }

.ti-bag:before {
  content: "\e655"; }

.ti-move:before {
  content: "\e656"; }

.ti-arrows-vertical:before {
  content: "\e657"; }

.ti-arrows-horizontal:before {
  content: "\e658"; }

.ti-fullscreen:before {
  content: "\e659"; }

.ti-arrow-top-right:before {
  content: "\e65a"; }

.ti-arrow-top-left:before {
  content: "\e65b"; }

.ti-arrow-circle-up:before {
  content: "\e65c"; }

.ti-arrow-circle-right:before {
  content: "\e65d"; }

.ti-arrow-circle-left:before {
  content: "\e65e"; }

.ti-arrow-circle-down:before {
  content: "\e65f"; }

.ti-angle-double-up:before {
  content: "\e660"; }

.ti-angle-double-right:before {
  content: "\e661"; }

.ti-angle-double-left:before {
  content: "\e662"; }

.ti-angle-double-down:before {
  content: "\e663"; }

.ti-zip:before {
  content: "\e664"; }

.ti-world:before {
  content: "\e665"; }

.ti-wheelchair:before {
  content: "\e666"; }

.ti-view-list:before {
  content: "\e667"; }

.ti-view-list-alt:before {
  content: "\e668"; }

.ti-view-grid:before {
  content: "\e669"; }

.ti-uppercase:before {
  content: "\e66a"; }

.ti-upload:before {
  content: "\e66b"; }

.ti-underline:before {
  content: "\e66c"; }

.ti-truck:before {
  content: "\e66d"; }

.ti-timer:before, .quiz__tip--two i:before, .quiz-timer:before {
  content: "\e66e"; }

.ti-ticket:before {
  content: "\e66f"; }

.ti-thumb-up:before, .quiz__tip--certif i:before, .quiz__tip--one i:before {
  content: "\e670"; }

.ti-thumb-down:before {
  content: "\e671"; }

.ti-text:before {
  content: "\e672"; }

.ti-stats-up:before {
  content: "\e673"; }

.ti-stats-down:before {
  content: "\e674"; }

.ti-split-v:before {
  content: "\e675"; }

.ti-split-h:before {
  content: "\e676"; }

.ti-smallcap:before {
  content: "\e677"; }

.ti-shine:before {
  content: "\e678"; }

.ti-shift-right:before {
  content: "\e679"; }

.ti-shift-left:before {
  content: "\e67a"; }

.ti-shield:before {
  content: "\e67b"; }

.ti-notepad:before {
  content: "\e67c"; }

.ti-server:before {
  content: "\e67d"; }

.ti-quote-right:before {
  content: "\e67e"; }

.ti-quote-left:before {
  content: "\e67f"; }

.ti-pulse:before {
  content: "\e680"; }

.ti-printer:before {
  content: "\e681"; }

.ti-power-off:before, .btn--logout i:before {
  content: "\e682"; }

.ti-plug:before {
  content: "\e683"; }

.ti-pie-chart:before {
  content: "\e684"; }

.ti-paragraph:before {
  content: "\e685"; }

.ti-panel:before {
  content: "\e686"; }

.ti-package:before {
  content: "\e687"; }

.ti-music:before {
  content: "\e688"; }

.ti-music-alt:before {
  content: "\e689"; }

.ti-mouse:before {
  content: "\e68a"; }

.ti-mouse-alt:before {
  content: "\e68b"; }

.ti-money:before {
  content: "\e68c"; }

.ti-microphone:before {
  content: "\e68d"; }

.ti-menu:before {
  content: "\e68e"; }

.ti-menu-alt:before, .site-header__btn:before {
  content: "\e68f"; }

.ti-map:before {
  content: "\e690"; }

.ti-map-alt:before {
  content: "\e691"; }

.ti-loop:before {
  content: "\e692"; }

.ti-location-pin:before {
  content: "\e693"; }

.ti-list:before {
  content: "\e694"; }

.ti-light-bulb:before {
  content: "\e695"; }

.ti-Italic:before {
  content: "\e696"; }

.ti-info:before {
  content: "\e697"; }

.ti-infinite:before {
  content: "\e698"; }

.ti-id-badge:before {
  content: "\e699"; }

.ti-hummer:before {
  content: "\e69a"; }

.ti-home:before {
  content: "\e69b"; }

.ti-help:before {
  content: "\e69c"; }

.ti-headphone:before {
  content: "\e69d"; }

.ti-harddrives:before {
  content: "\e69e"; }

.ti-harddrive:before {
  content: "\e69f"; }

.ti-gift:before {
  content: "\e6a0"; }

.ti-game:before {
  content: "\e6a1"; }

.ti-filter:before {
  content: "\e6a2"; }

.ti-files:before {
  content: "\e6a3"; }

.ti-file:before {
  content: "\e6a4"; }

.ti-eraser:before {
  content: "\e6a5"; }

.ti-envelope:before {
  content: "\e6a6"; }

.ti-download:before {
  content: "\e6a7"; }

.ti-direction:before {
  content: "\e6a8"; }

.ti-direction-alt:before {
  content: "\e6a9"; }

.ti-dashboard:before {
  content: "\e6aa"; }

.ti-control-stop:before {
  content: "\e6ab"; }

.ti-control-shuffle:before {
  content: "\e6ac"; }

.ti-control-play:before {
  content: "\e6ad"; }

.ti-control-pause:before {
  content: "\e6ae"; }

.ti-control-forward:before {
  content: "\e6af"; }

.ti-control-backward:before {
  content: "\e6b0"; }

.ti-cloud:before {
  content: "\e6b1"; }

.ti-cloud-up:before {
  content: "\e6b2"; }

.ti-cloud-down:before {
  content: "\e6b3"; }

.ti-clipboard:before {
  content: "\e6b4"; }

.ti-car:before {
  content: "\e6b5"; }

.ti-calendar:before {
  content: "\e6b6"; }

.ti-book:before {
  content: "\e6b7"; }

.ti-bell:before {
  content: "\e6b8"; }

.ti-basketball:before {
  content: "\e6b9"; }

.ti-bar-chart:before {
  content: "\e6ba"; }

.ti-bar-chart-alt:before {
  content: "\e6bb"; }

.ti-back-right:before {
  content: "\e6bc"; }

.ti-back-left:before {
  content: "\e6bd"; }

.ti-arrows-corner:before {
  content: "\e6be"; }

.ti-archive:before {
  content: "\e6bf"; }

.ti-anchor:before {
  content: "\e6c0"; }

.ti-align-right:before {
  content: "\e6c1"; }

.ti-align-left:before {
  content: "\e6c2"; }

.ti-align-justify:before {
  content: "\e6c3"; }

.ti-align-center:before {
  content: "\e6c4"; }

.ti-alert:before, .pic-update__instructions i:before {
  content: "\e6c5"; }

.ti-alarm-clock:before {
  content: "\e6c6"; }

.ti-agenda:before {
  content: "\e6c7"; }

.ti-write:before {
  content: "\e6c8"; }

.ti-window:before {
  content: "\e6c9"; }

.ti-widgetized:before {
  content: "\e6ca"; }

.ti-widget:before {
  content: "\e6cb"; }

.ti-widget-alt:before {
  content: "\e6cc"; }

.ti-wallet:before {
  content: "\e6cd"; }

.ti-video-clapper:before {
  content: "\e6ce"; }

.ti-video-camera:before {
  content: "\e6cf"; }

.ti-vector:before {
  content: "\e6d0"; }

.ti-themify-logo:before {
  content: "\e6d1"; }

.ti-themify-favicon:before {
  content: "\e6d2"; }

.ti-themify-favicon-alt:before {
  content: "\e6d3"; }

.ti-support:before {
  content: "\e6d4"; }

.ti-stamp:before {
  content: "\e6d5"; }

.ti-split-v-alt:before {
  content: "\e6d6"; }

.ti-slice:before {
  content: "\e6d7"; }

.ti-shortcode:before {
  content: "\e6d8"; }

.ti-shift-right-alt:before {
  content: "\e6d9"; }

.ti-shift-left-alt:before {
  content: "\e6da"; }

.ti-ruler-alt-2:before {
  content: "\e6db"; }

.ti-receipt:before {
  content: "\e6dc"; }

.ti-pin2:before {
  content: "\e6dd"; }

.ti-pin-alt:before {
  content: "\e6de"; }

.ti-pencil-alt2:before {
  content: "\e6df"; }

.ti-palette:before {
  content: "\e6e0"; }

.ti-more:before {
  content: "\e6e1"; }

.ti-more-alt:before {
  content: "\e6e2"; }

.ti-microphone-alt:before {
  content: "\e6e3"; }

.ti-magnet:before {
  content: "\e6e4"; }

.ti-line-double:before {
  content: "\e6e5"; }

.ti-line-dotted:before {
  content: "\e6e6"; }

.ti-line-dashed:before {
  content: "\e6e7"; }

.ti-layout-width-full:before {
  content: "\e6e8"; }

.ti-layout-width-default:before {
  content: "\e6e9"; }

.ti-layout-width-default-alt:before {
  content: "\e6ea"; }

.ti-layout-tab:before {
  content: "\e6eb"; }

.ti-layout-tab-window:before {
  content: "\e6ec"; }

.ti-layout-tab-v:before {
  content: "\e6ed"; }

.ti-layout-tab-min:before {
  content: "\e6ee"; }

.ti-layout-slider:before {
  content: "\e6ef"; }

.ti-layout-slider-alt:before {
  content: "\e6f0"; }

.ti-layout-sidebar-right:before {
  content: "\e6f1"; }

.ti-layout-sidebar-none:before {
  content: "\e6f2"; }

.ti-layout-sidebar-left:before {
  content: "\e6f3"; }

.ti-layout-placeholder:before {
  content: "\e6f4"; }

.ti-layout-menu:before {
  content: "\e6f5"; }

.ti-layout-menu-v:before {
  content: "\e6f6"; }

.ti-layout-menu-separated:before {
  content: "\e6f7"; }

.ti-layout-menu-full:before {
  content: "\e6f8"; }

.ti-layout-media-right-alt:before {
  content: "\e6f9"; }

.ti-layout-media-right:before {
  content: "\e6fa"; }

.ti-layout-media-overlay:before {
  content: "\e6fb"; }

.ti-layout-media-overlay-alt:before {
  content: "\e6fc"; }

.ti-layout-media-overlay-alt-2:before {
  content: "\e6fd"; }

.ti-layout-media-left-alt:before {
  content: "\e6fe"; }

.ti-layout-media-left:before {
  content: "\e6ff"; }

.ti-layout-media-center-alt:before {
  content: "\e700"; }

.ti-layout-media-center:before {
  content: "\e701"; }

.ti-layout-list-thumb:before {
  content: "\e702"; }

.ti-layout-list-thumb-alt:before {
  content: "\e703"; }

.ti-layout-list-post:before {
  content: "\e704"; }

.ti-layout-list-large-image:before {
  content: "\e705"; }

.ti-layout-line-solid:before {
  content: "\e706"; }

.ti-layout-grid4:before {
  content: "\e707"; }

.ti-layout-grid3:before {
  content: "\e708"; }

.ti-layout-grid2:before {
  content: "\e709"; }

.ti-layout-grid2-thumb:before {
  content: "\e70a"; }

.ti-layout-cta-right:before {
  content: "\e70b"; }

.ti-layout-cta-left:before {
  content: "\e70c"; }

.ti-layout-cta-center:before {
  content: "\e70d"; }

.ti-layout-cta-btn-right:before {
  content: "\e70e"; }

.ti-layout-cta-btn-left:before {
  content: "\e70f"; }

.ti-layout-column4:before {
  content: "\e710"; }

.ti-layout-column3:before {
  content: "\e711"; }

.ti-layout-column2:before {
  content: "\e712"; }

.ti-layout-accordion-separated:before {
  content: "\e713"; }

.ti-layout-accordion-merged:before {
  content: "\e714"; }

.ti-layout-accordion-list:before {
  content: "\e715"; }

.ti-ink-pen:before {
  content: "\e716"; }

.ti-info-alt:before {
  content: "\e717"; }

.ti-help-alt:before, .footer__help-link i:before {
  content: "\e718"; }

.ti-headphone-alt:before {
  content: "\e719"; }

.ti-hand-point-up:before {
  content: "\e71a"; }

.ti-hand-point-right:before {
  content: "\e71b"; }

.ti-hand-point-left:before {
  content: "\e71c"; }

.ti-hand-point-down:before {
  content: "\e71d"; }

.ti-gallery:before {
  content: "\e71e"; }

.ti-face-smile:before {
  content: "\e71f"; }

.ti-face-sad:before {
  content: "\e720"; }

.ti-credit-card:before {
  content: "\e721"; }

.ti-control-skip-forward:before {
  content: "\e722"; }

.ti-control-skip-backward:before {
  content: "\e723"; }

.ti-control-record:before {
  content: "\e724"; }

.ti-control-eject:before {
  content: "\e725"; }

.ti-comments-smiley:before {
  content: "\e726"; }

.ti-brush-alt:before {
  content: "\e727"; }

.ti-youtube:before {
  content: "\e728"; }

.ti-vimeo:before {
  content: "\e729"; }

.ti-twitter:before {
  content: "\e72a"; }

.ti-time:before {
  content: "\e72b"; }

.ti-tumblr:before {
  content: "\e72c"; }

.ti-skype:before {
  content: "\e72d"; }

.ti-share:before {
  content: "\e72e"; }

.ti-share-alt:before {
  content: "\e72f"; }

.ti-rocket:before {
  content: "\e730"; }

.ti-pinterest:before {
  content: "\e731"; }

.ti-new-window:before {
  content: "\e732"; }

.ti-microsoft:before {
  content: "\e733"; }

.ti-list-ol:before {
  content: "\e734"; }

.ti-linkedin:before {
  content: "\e735"; }

.ti-layout-sidebar-2:before {
  content: "\e736"; }

.ti-layout-grid4-alt:before {
  content: "\e737"; }

.ti-layout-grid3-alt:before {
  content: "\e738"; }

.ti-layout-grid2-alt:before {
  content: "\e739"; }

.ti-layout-column4-alt:before {
  content: "\e73a"; }

.ti-layout-column3-alt:before {
  content: "\e73b"; }

.ti-layout-column2-alt:before {
  content: "\e73c"; }

.ti-instagram:before {
  content: "\e73d"; }

.ti-google:before {
  content: "\e73e"; }

.ti-github:before {
  content: "\e73f"; }

.ti-flickr:before {
  content: "\e740"; }

.ti-facebook:before {
  content: "\e741"; }

.ti-dropbox:before {
  content: "\e742"; }

.ti-dribbble:before {
  content: "\e743"; }

.ti-apple:before {
  content: "\e744"; }

.ti-android:before {
  content: "\e745"; }

.ti-save:before {
  content: "\e746"; }

.ti-save-alt:before {
  content: "\e747"; }

.ti-yahoo:before {
  content: "\e748"; }

.ti-wordpress:before {
  content: "\e749"; }

.ti-vimeo-alt:before {
  content: "\e74a"; }

.ti-twitter-alt:before {
  content: "\e74b"; }

.ti-tumblr-alt:before {
  content: "\e74c"; }

.ti-trello:before {
  content: "\e74d"; }

.ti-stack-overflow:before {
  content: "\e74e"; }

.ti-soundcloud:before {
  content: "\e74f"; }

.ti-sharethis:before {
  content: "\e750"; }

.ti-sharethis-alt:before {
  content: "\e751"; }

.ti-reddit:before {
  content: "\e752"; }

.ti-pinterest-alt:before {
  content: "\e753"; }

.ti-microsoft-alt:before {
  content: "\e754"; }

.ti-linux:before {
  content: "\e755"; }

.ti-jsfiddle:before {
  content: "\e756"; }

.ti-joomla:before {
  content: "\e757"; }

.ti-html5:before {
  content: "\e758"; }

.ti-flickr-alt:before {
  content: "\e759"; }

.ti-email:before {
  content: "\e75a"; }

.ti-drupal:before {
  content: "\e75b"; }

.ti-dropbox-alt:before {
  content: "\e75c"; }

.ti-css3:before {
  content: "\e75d"; }

.ti-rss:before {
  content: "\e75e"; }

.ti-rss-alt:before {
  content: "\e75f"; }

/* PLUGINS */
/**
 * Featherlight – ultra slim jQuery lightbox
 * Version 1.2.0 - http://noelboss.github.io/featherlight/
 *
 * Copyright 2015, Noël Raoul Bossart (http://www.noelboss.com)
 * MIT Licensed.
**/
.featherlight {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  background: #333;
  background: transparent; }

.featherlight:last-of-type {
  background: rgba(0, 0, 0, 0.8); }

.featherlight:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em; }

.featherlight .featherlight-content {
  position: relative;
  text-align: left;
  vertical-align: middle;
  display: inline-block;
  overflow: auto;
  width: 100%;
  padding: 0 5%;
  max-height: 95%;
  cursor: auto;
  white-space: normal; }

.featherlight .featherlight-inner {
  display: block; }

.featherlight .featherlight-close-icon {
  display: inline-block;
  position: absolute;
  z-index: 9999;
  top: 0;
  right: 0;
  line-height: 25px;
  width: 25px;
  cursor: pointer;
  text-align: center;
  font: Arial, sans-serif;
  background: #fff;
  background: rgba(255, 255, 255, 0.3);
  color: #000; }

.featherlight-iframe .featherlight-content {
  border-bottom: 0;
  padding: 0; }

.featherlight iframe {
  border: none; }

/* This is the default Tooltipster theme (feel free to modify or duplicate and create multiple themes!): */
.tooltipster-default {
  border-radius: 5px;
  background: #4c4c4c;
  color: #fff; }

/* Use this next selector to style things like font-size and line-height: */
.tooltipster-default .tooltipster-content {
  font-size: 14px;
  line-height: 16px;
  padding: 8px 10px;
  overflow: hidden; }

/* This is the base styling required to make all Tooltipsters work */
.tooltipster-base {
  padding: 0;
  font-size: 0;
  line-height: 0;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9;
  pointer-events: none;
  width: auto;
  overflow: visible; }

.tooltipster-base .tooltipster-content {
  overflow: hidden; }

/* These next classes handle the styles for the little arrow attached to the tooltip. By default, the arrow will inherit the same colors and border as what is set on the main tooltip itself. */
.tooltipster-arrow {
  display: block;
  text-align: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; }

.tooltipster-arrow span, .tooltipster-arrow-border {
  display: block;
  width: 0;
  height: 0;
  position: absolute; }

.tooltipster-arrow-top span, .tooltipster-arrow-top-right span, .tooltipster-arrow-top-left span {
  border-left: 8px solid transparent !important;
  border-right: 8px solid transparent !important;
  border-top: 8px solid;
  bottom: -7px; }

.tooltipster-arrow-top .tooltipster-arrow-border, .tooltipster-arrow-top-right .tooltipster-arrow-border, .tooltipster-arrow-top-left .tooltipster-arrow-border {
  border-left: 9px solid transparent !important;
  border-right: 9px solid transparent !important;
  border-top: 9px solid;
  bottom: -7px; }

.tooltipster-arrow-bottom span, .tooltipster-arrow-bottom-right span, .tooltipster-arrow-bottom-left span {
  border-left: 8px solid transparent !important;
  border-right: 8px solid transparent !important;
  border-bottom: 8px solid;
  top: -7px; }

.tooltipster-arrow-bottom .tooltipster-arrow-border, .tooltipster-arrow-bottom-right .tooltipster-arrow-border, .tooltipster-arrow-bottom-left .tooltipster-arrow-border {
  border-left: 9px solid transparent !important;
  border-right: 9px solid transparent !important;
  border-bottom: 9px solid;
  top: -7px; }

.tooltipster-arrow-top span, .tooltipster-arrow-top .tooltipster-arrow-border, .tooltipster-arrow-bottom span, .tooltipster-arrow-bottom .tooltipster-arrow-border {
  left: 0;
  right: 0;
  margin: 0 auto; }

.tooltipster-arrow-top-left span, .tooltipster-arrow-bottom-left span {
  left: 6px; }

.tooltipster-arrow-top-left .tooltipster-arrow-border, .tooltipster-arrow-bottom-left .tooltipster-arrow-border {
  left: 5px; }

.tooltipster-arrow-top-right span, .tooltipster-arrow-bottom-right span {
  right: 6px; }

.tooltipster-arrow-top-right .tooltipster-arrow-border, .tooltipster-arrow-bottom-right .tooltipster-arrow-border {
  right: 5px; }

.tooltipster-arrow-left span, .tooltipster-arrow-left .tooltipster-arrow-border {
  border-top: 8px solid transparent !important;
  border-bottom: 8px solid transparent !important;
  border-left: 8px solid;
  top: 50%;
  margin-top: -7px;
  right: -7px; }

.tooltipster-arrow-left .tooltipster-arrow-border {
  border-top: 9px solid transparent !important;
  border-bottom: 9px solid transparent !important;
  border-left: 9px solid;
  margin-top: -8px; }

.tooltipster-arrow-right span, .tooltipster-arrow-right .tooltipster-arrow-border {
  border-top: 8px solid transparent !important;
  border-bottom: 8px solid transparent !important;
  border-right: 8px solid;
  top: 50%;
  margin-top: -7px;
  left: -7px; }

.tooltipster-arrow-right .tooltipster-arrow-border {
  border-top: 9px solid transparent !important;
  border-bottom: 9px solid transparent !important;
  border-right: 9px solid;
  margin-top: -8px; }

/* Some CSS magic for the awesome animations - feel free to make your own custom animations and reference it in your Tooltipster settings! */
.tooltipster-fade {
  opacity: 0;
  -webkit-transition-property: opacity;
  transition-property: opacity; }

.tooltipster-fade-show {
  opacity: 1; }

.tooltipster-grow {
  -webkit-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  transform: scale(0, 0);
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  -webkit-backface-visibility: hidden; }

.tooltipster-grow-show {
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15); }

.tooltipster-swing {
  opacity: 0;
  -webkit-transform: rotateZ(4deg);
  -ms-transform: rotateZ(4deg);
  transform: rotateZ(4deg);
  -webkit-transition-property: -webkit-transform, opacity;
  transition-property: transform; }

.tooltipster-swing-show {
  opacity: 1;
  -webkit-transform: rotateZ(0deg);
  -ms-transform: rotateZ(0deg);
  transform: rotateZ(0deg);
  -webkit-transition-timing-function: cubic-bezier(0.23, 0.635, 0.495, 1);
  -webkit-transition-timing-function: cubic-bezier(0.23, 0.635, 0.495, 2.4);
  transition-timing-function: cubic-bezier(0.23, 0.635, 0.495, 2.4); }

.tooltipster-fall {
  top: 0;
  -webkit-transition-property: top;
  transition-property: top;
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15); }

.tooltipster-fall.tooltipster-dying {
  -webkit-transition-property: all;
  transition-property: all;
  top: 0px !important;
  opacity: 0; }

.tooltipster-slide {
  left: -40px;
  -webkit-transition-property: left;
  transition-property: left;
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15); }

.tooltipster-slide.tooltipster-dying {
  -webkit-transition-property: all;
  transition-property: all;
  left: 0px !important;
  opacity: 0; }

/* CSS transition for when contenting is changing in a tooltip that is still open. The only properties that will NOT transition are: width, height, top, and left */
.tooltipster-content-changing {
  opacity: 0.5;
  -webkit-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1); }

html {
  -moz-box-sizing: border-box;
       box-sizing: border-box; }

*, *::after, *::before {
  -moz-box-sizing: inherit;
       box-sizing: inherit; }

/* WEBSITE CSS */
.login {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #0077A0; }
  .login__container {
    width: 280px;
    height: 230px;
    position: absolute;
    left: 50%;
    top: 45%;
    margin-left: -140px;
    margin-top: -115px; }
    @media screen and (max-height: 550px) {
      .login__container {
        position: relative;
        margin: 60px auto 0 auto;
        left: auto;
        top: auto; } }
  .login__logo {
    width: 163px;
    height: 35px;
    background: url(../../Images/movistar-logo-header.png) no-repeat 0% 50%;
    margin: 0 auto 20px auto; }
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      .login__logo {
        background-image: url(../../Images/movistar-logo-header@2x.png);
        background-size: 163px 35px; } }
  .login__tag {
    display: block;
    width: 210px;
    height: 27px;
    line-height: 24px;
    border: 1px solid white;
    border-radius: 2px;
    margin: 0 auto 20px auto;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 0.75em;
    letter-spacing: 0.1em; }
  .login__input {
    position: relative; }
    .login__input input {
      width: 100%;
      display: block;
      border: 0;
      outline: 0;
      padding: 10px 14px 10px 42px;
      margin: 0;
      -webkit-transition: 350ms;
      transition: 350ms; }
    .login__input:before {
      position: absolute;
      left: 12px;
      top: 15px;
      color: #a3a3a3; }
    .login__input--user {
      border-bottom: 1px solid #e6e6e6; }
      .login__input--user input {
        border-radius: 2px 2px 0 0; }
    .login__input--password input {
      border-radius: 0 0 2px 2px; }
  .login__button {
    width: 100%;
    height: 48px;
    line-height: 46px;
    display: inline-block;
    border-radius: 2px;
    padding: 0 25px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    text-align: center;
    border: 0;
    outline: 0;
    cursor: pointer;
    margin-top: 10px;
    background: #005C84;
    color: white;
    -webkit-transition: 250ms;
    transition: 250ms; }
    .login__button:hover, .login__button:focus {
      background-color: #004a6b; }

html {
  min-height: 100%;
  font-size: 100%;
  position: relative;
  -webkit-font-smoothing: antialiased; }

body {
  font-size: 18px;
  font-family: "Movistar Text", "Helvetica Neue", Helvetica, "Segoe UI", sans-serif;
  color: #4A4A4A;
  background: #e9e9e9;
  margin: 0 0 80px; }

p {
  line-height: 1.35em; }

a {
  color: inherit;
  text-decoration: none; }

::-moz-selection {
  background: rgba(0, 92, 132, 0.75);
  color: white; }

::selection {
  background: rgba(0, 92, 132, 0.75);
  color: white; }

::-moz-selection {
  background: rgba(0, 92, 132, 0.75);
  color: white; }

.title {
  font-family: "Movistar Headline", "Helvetica Neue", Helvetica, "Segoe UI", sans-serif;
  font-weight: normal; }

.label {
  border-radius: 2px;
  text-transform: uppercase;
  font-size: 0.7em;
  font-weight: bold;
  padding: 5px 9px;
  margin-left: 8px;
  position: relative;
  top: -1px; }
  .label--blue {
    background-color: #0077A0; }
  .label--green {
    background-color: #7AB901; }

.site-content {
  max-width: 1400px;
  margin: 0 auto;
  position: relative; }
  .site-content::after {
    clear: both;
    content: "";
    display: table; }
  .site-content--default {
    padding: 35px 30px 0 30px; }
    @media screen and (max-width: 768px) {
      .site-content--default {
        padding: 30px 15px 0 15px; } }

.card {
  background: white; }
  .card--agent-info {
    margin-bottom: 30px; }
    @media screen and (max-width: 1023px) {
      .card--agent-info {
        margin-bottom: 20px; } }
  .card--agents-list {
    max-width: 767px;
    margin: 0 auto; }
  .card__header {
    background: #7AB901;
    padding: 15px 40px; }
    .card__header h2 {
      color: white;
      margin: 0;
      font-family: "Movistar Headline", "Helvetica Neue", Helvetica, "Segoe UI", sans-serif;
      letter-spacing: 0.02em;
      position: relative;
      top: -2px; }
      @media screen and (max-width: 768px) {
        .card__header h2 {
          font-size: 1.4em; } }
      @media screen and (max-width: 480px) {
        .card__header h2 {
          font-size: 1.3em; } }
    @media screen and (max-width: 480px) {
      .card__header {
        padding: 12px 30px; } }
  .card__content {
    padding: 30px; }
    .card__content::after {
      clear: both;
      content: "";
      display: table; }

.site-header {
  width: 100%;
  height: 72px;
  background: #0077A0;
  position: relative;
  z-index: 4; }
  .site-header__logo {
    width: 163px;
    height: 35px;
    background: url(../../Images/movistar-logo-header.png) no-repeat 0% 50%;
    position: relative;
    top: 18px;
    left: 25px;
    float: left; }
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      .site-header__logo {
        background-image: url(../../Images/movistar-logo-header@2x.png);
        background-size: 163px 35px; } }
  .site-header__right {
    float: right; }
  .site-header__pic {
    width: 56px;
    height: 56px;
    background: url(../../Images/user-placeholder.png) no-repeat 50% 50%;
    float: left;
    border-radius: 50%;
    position: relative;
    top: 7px;
    margin-right: 15px; }
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      .site-header__pic {
        background-image: url(../../Images/user-placeholder@2x.png);
        background-size: 56px 56px; } }
    @media screen and (max-width: 380px) {
      .site-header__pic {
        display: none; } }
  .site-header__btn {
    width: 72px;
    height: 72px;
    line-height: 72px;
    display: inline-block;
    border: 0;
    outline: 0;
    cursor: pointer;
    background: #005C84;
    float: left;
    color: white;
    -webkit-transition: 250ms;
    transition: 250ms;
    font-size: 1.3em; }
    .site-header__btn:hover {
      background-color: #00405b; }

.header-menu {
  width: 280px;
  position: absolute;
  z-index: 2;
  top: 72px;
  right: 0;
  background: #005C84;
  color: white;
  opacity: 0;
  display: none;
  -webkit-transform: translateY(30px);
      -ms-transform: translateY(30px);
          transform: translateY(30px);
  -webkit-transition: 500ms;
  transition: 500ms; }
  .header-menu.is-opened {
    opacity: 1;
    -webkit-transform: translateY(0px);
        -ms-transform: translateY(0px);
            transform: translateY(0px); }
  .header-menu__nav {
    list-style: none;
    padding: 0;
    margin: 0; }
    .header-menu__nav a {
      display: block;
      padding: 13px 25px;
      border-bottom: 1px solid #004a6b;
      -webkit-transition: 250ms;
      transition: 250ms; }
      .header-menu__nav a:hover {
        background-color: #004a6b; }
  .header-menu__user {
    background-color: #004a6b;
    padding: 20px 25px; }
  .header-menu__welcome {
    font-size: 0.8em;
    margin: 0; }
  .header-menu__username {
    font-family: "Movistar Headline", "Helvetica Neue", Helvetica, "Segoe UI", sans-serif;
    font-size: 1.3em;
    margin: 1px 0 15px 0;
    line-height: 1.25em; }
  .header-menu__btn {
    display: inline-block;
    border: 1px solid;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 0.8em;
    padding: 7px 0;
    text-align: center;
    -webkit-transition: 350ms;
    transition: 350ms; }
    .header-menu__btn i {
      position: relative;
      top: 1px;
      margin-right: 8px; }

.btn--profile {
  width: 130px;
  border-color: #7AB901;
  margin-right: 5px; }
  .btn--profile:hover {
    background-color: #7AB901;
    color: white; }

.btn--logout {
  width: 90px;
  border-color: #D03A02; }
  .btn--logout:hover {
    background-color: #D03A02;
    color: white; }

.footer {
  width: 100%;
  height: 50px;
  position: absolute;
  left: 0;
  bottom: 0;
  background: #3d3d3d;
  overflow: hidden; }
  .footer__container {
    color: white; }
    .footer__container::after {
      clear: both;
      content: "";
      display: table; }
  .footer__help {
    float: left; }
  .footer__help-link {
    height: 100%;
    line-height: 50px;
    background: transparent;
    border: 0;
    font-weight: bold;
    padding: 0 20px;
    -webkit-transition: 350ms;
    transition: 350ms; }
    .footer__help-link i {
      position: relative;
      top: 3px;
      margin-right: 8px; }
    .footer__help-link:hover {
      background-color: #646464; }
    @media screen and (max-width: 380px) {
      .footer__help-link {
        font-size: 0.85em;
        padding: 0 15px; } }
  .footer__copy {
    float: right;
    text-align: right;
    padding-right: 20px;
    font-size: 0.9em;
    line-height: 1.2em;
    position: relative;
    top: 5px; }
    .footer__copy small {
      color: #b0b0b0;
      display: block; }
    @media screen and (max-width: 380px) {
      .footer__copy {
        font-size: 0.85em;
        top: 6px; } }

.lightbox {
  background-color: white;
  margin: 0 auto;
  position: relative; }
  .lightbox--profile {
    width: 100%;
    max-width: 500px; }
  .lightbox--help {
    width: 100%;
    max-width: 600px; }
  .lightbox--certif {
    width: 100%;
    max-width: 767px; }
  .lightbox__header {
    background-color: #0077A0;
    padding: 16px 30px;
    position: relative; }
  .lightbox__close {
    width: 32px;
    height: 32px;
    line-height: 29px;
    display: inline-block;
    border: 0;
    outline: 0;
    cursor: pointer;
    background: #005C84;
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    -webkit-transition: 250ms;
    transition: 250ms;
    font-size: 1em; }
    .lightbox__close:hover {
      background-color: #00405b; }
  .lightbox__title {
    font-family: "Movistar Headline", "Helvetica Neue", Helvetica, "Segoe UI", sans-serif;
    font-weight: normal;
    margin: 0;
    font-size: 1.5em;
    color: white; }

.help {
  padding: 25px; }
  .help__copy {
    margin-top: 0; }

.help-form__textarea {
  width: 100%;
  height: 150px;
  display: block;
  border: 1px solid #cacaca;
  outline: 0;
  padding: 10px;
  -webkit-transition: 350ms;
  transition: 350ms; }
  .help-form__textarea:focus {
    border-color: #7AB901; }
.help-form__btn {
  width: 100%;
  height: 48px;
  line-height: 46px;
  display: block;
  border-radius: 2px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  border: 0;
  outline: 0;
  cursor: pointer;
  color: white;
  padding: 0;
  margin-top: 10px;
  background: #7AB901;
  -webkit-transition: 350ms;
  transition: 350ms; }
  .help-form__btn:hover, .help-form__btn:focus {
    background: #69a001; }

.home-col {
  float: left;
  display: block;
  margin-right: 3.1916409694%;
  width: 48.4041795153%; }
  .home-col:last-child {
    margin-right: 0; }
  @media screen and (max-width: 1023px) {
    .home-col {
      float: left;
      display: block;
      margin-right: 3.1916409694%;
      width: 100%; }
      .home-col:last-child {
        margin-right: 0; }
      .home-col:first-child {
        margin-bottom: 20px; } }

.overview__chart {
  width: 100%;
  height: 220px; }
.overview__categories {
  padding-top: 30px; }
  .overview__categories .bar-chart {
    margin-bottom: 6px; }
  .overview__categories .bar-chart--big {
    margin-bottom: 12px; }
  @media screen and (max-width: 480px) {
    .overview__categories {
      padding-top: 10px; } }
.overview__col {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .overview__col::after {
    clear: both;
    content: "";
    display: table; }
  .overview__col .bar-chart {
    float: left;
    display: block;
    margin-right: 3.1916409694%;
    width: 48.4041795153%; }
    .overview__col .bar-chart:last-child {
      margin-right: 0; }
    @media screen and (max-width: 768px) {
      .overview__col .bar-chart {
        float: left;
        display: block;
        margin-right: 3.1916409694%;
        width: 100%; }
        .overview__col .bar-chart:last-child {
          margin-right: 0; } }

.pagination {
  margin-top: 30px;
  text-align: center; }
  .pagination__prev, .pagination__next, .pagination__page {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 2px;
    -webkit-transition: 250ms;
    transition: 250ms; }
  .pagination__prev:before, .pagination__next:before {
    font-size: 0.85em;
    line-height: 32px;
    color: #d0d0d0; }
  .pagination__prev.is-enabled:before, .pagination__next.is-enabled:before {
    color: #4A4A4A; }
  .pagination__prev.is-enabled:hover, .pagination__next.is-enabled:hover {
    background-color: #e9e9e9; }
  .pagination__page {
    border: 1px solid #e9e9e9;
    line-height: 28px; }
    .pagination__page.is-active {
      background-color: #0077A0;
      border-color: #0077A0;
      color: white; }
    .pagination__page:hover {
      border-color: #0077A0; }

.quiz {
  width: auto;
  max-width: 1024px;
  margin: 0 auto;
  display: block;
  color: white;
  position: relative; }
  .quiz--post-video {
    display: none; }
  .quiz__header {
    padding: 27px 30px 25px 30px; }
    .quiz__header--post-video {
      background: #598601; }
    .quiz__header--certif {
      background: #005C84; }
  .quiz__header-subtitle {
    font-size: 0.8em;
    text-transform: uppercase;
    margin: 0; }
  .quiz__header-title, .certif-results__title {
    font-size: 1.5em;
    font-family: "Movistar Headline", "Helvetica Neue", Helvetica, "Segoe UI", sans-serif;
    font-weight: normal;
    margin: 0;
    line-height: 1.2em; }
    .quiz__header-title--certif:before {
      position: relative;
      left: -4px;
      top: 3px; }
  .quiz__container {
    padding: 25px 20px;
    -webkit-transition: background 2000ms;
            transition: background 2000ms; }
    .quiz__container--post-video {
      background: #69a001; }
    .quiz__container--certif {
      background: #0077A0; }
    .quiz__container--error {
      background: #CD2700; }
  .quiz__tips::after {
    clear: both;
    content: "";
    display: table; }
  .quiz__buttons {
    text-align: center;
    margin-bottom: 30px; }
    .quiz__buttons button {
      margin-right: 15px; }
      .quiz__buttons button:last-child {
        margin-right: 0; }
  .quiz__btn {
    height: 48px;
    line-height: 46px;
    display: inline-block;
    border-radius: 2px;
    padding: 0 25px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    border: 1px solid white;
    outline: 0;
    cursor: pointer; }
    @media screen and (max-width: 640px) {
      .quiz__btn {
        display: block;
        width: 100%;
        margin-bottom: 8px; }
        .quiz__btn:last-of-type {
          margin-bottom: 0px; } }
    .quiz__btn i {
      font-size: 1em;
      position: relative;
      padding-right: 10px; }
    .quiz__btn--main, .quiz__btn--main-certif {
      background: white;
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      -webkit-transition: 250ms;
      transition: 250ms; }
      .quiz__btn--main:hover, .quiz__btn--main:active, .quiz__btn--main:focus, .quiz__btn--main-certif:hover, .quiz__btn--main-certif:active, .quiz__btn--main-certif:focus {
        -webkit-transform: scale(1.1);
            -ms-transform: scale(1.1);
                transform: scale(1.1); }
    .quiz__btn--main {
      color: #69a001; }
      .quiz__btn--main i {
        color: #69a001; }
    .quiz__btn--main-certif {
      color: #0077A0; }
      .quiz__btn--main-certif i {
        color: #006487; }
    .quiz__btn--alt {
      background: transparent;
      color: white;
      -webkit-transition: 350ms;
      transition: 350ms; }
      .quiz__btn--alt .repeat {
        top: 1px; }
      .quiz__btn--alt:hover {
        background-color: #486d01;
        border-color: #486d01; }
  .quiz__tip {
    width: 33.332%;
    float: left;
    text-align: center; }
    .quiz__tip i {
      font-size: 5.5em;
      color: #598601; }
    .quiz__tip p {
      padding: 0 12px;
      font-size: 0.8em; }
      @media screen and (min-width: 1400px) {
        .quiz__tip p {
          font-size: 0.9em; } }
    .quiz__tip--certif {
      width: auto;
      max-width: 400px;
      margin: 0 auto;
      float: none; }
      .quiz__tip--certif p {
        font-size: 1em;
        margin-bottom: 0; }
        @media screen and (max-width: 640px) {
          .quiz__tip--certif p {
            font-size: 0.9em; } }
      .quiz__tip--certif i {
        color: #005C84; }
    @media screen and (max-width: 640px) {
      .quiz__tip {
        width: 100%;
        float: none;
        padding-bottom: 20px; }
        .quiz__tip:last-of-type {
          padding-bottom: 0px; }
        .quiz__tip i {
          font-size: 3.3em;
          display: inline-block;
          float: left;
          padding-right: 20px; }
        .quiz__tip p {
          position: relative;
          top: 5px; } }
  .quiz__results {
    padding: 25px;
    text-align: center; }
  .quiz__results-copy {
    max-width: 450px;
    margin: 0 auto 25px auto; }
  .quiz__multiple {
    padding: 0 15px;
    display: none;
    text-align: center; }
    @media screen and (max-width: 768px) {
      .quiz__multiple {
        padding: 0; } }
  .quiz__results-alt {
    display: none; }

.quiz-timer {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 10px;
  right: 10px;
  background: #486d01;
  text-align: center;
  padding: 8px;
  border-radius: 37px;
  display: none; }
  .quiz-timer:before {
    display: block;
    font-size: 1.1em;
    text-align: center;
    padding-top: 2px; }
  .quiz-timer__remaining {
    font-size: 1em;
    line-height: 25px; }

.multiple__item {
  border: 1px solid #006487;
  margin-bottom: 25px; }
  @media screen and (max-width: 1023px) {
    .multiple__item {
      font-size: 0.9em; } }
.multiple__question {
  padding: 8px 30px 10px 30px;
  margin: 0;
  background: #006487; }
.multiple__answers {
  list-style: none;
  padding: 15px 0;
  margin: 0; }
  .multiple__answers::after {
    clear: both;
    content: "";
    display: table; }
  .multiple__answers.is-answered .multiple__answer {
    color: #69B3CB; }
  .multiple__answers.is-answered .is-selected {
    color: white !important; }
    .multiple__answers.is-answered .is-selected a {
      border-color: #769cc8; }
.multiple__answer {
  display: inline-block;
  width: 33.332%;
  float: left;
  -webkit-transition: 150ms;
  transition: 150ms; }
  @media screen and (max-width: 768px) {
    .multiple__answer {
      display: block;
      width: 100%;
      float: none;
      margin-bottom: 8px; } }
  .multiple__answer a {
    display: inline-block;
    border: 1px solid transparent;
    border-radius: 2px;
    padding: 3px 14px;
    -webkit-transition: 150ms;
    transition: 150ms; }

.certif-results {
  padding: 25px;
  text-align: center; }
  .certif-results__title {
    padding-top: 15px;
    margin-bottom: 30px; }
    .certif-results__title:before {
      display: block;
      font-size: 3em;
      text-align: center;
      padding-bottom: 5px; }
  .certif-results__copy {
    max-width: 400px;
    margin: 0 auto 25px auto; }

.profile {
  max-width: 767px;
  margin: 0 auto;
  padding-top: 20px; }
  .profile__top {
    text-align: center;
    margin-bottom: 40px; }
  .profile__pic-container {
    display: inline-block;
    margin-bottom: 10px;
    position: relative; }
  .profile__pic {
    width: 84px;
    height: 84px;
    display: inline-block;
    background: url(../../Images/user-placeholder-profile.png) no-repeat 50% 50%;
    border-radius: 50%; }
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      .profile__pic {
        background-image: url(../../Images/user-placeholder-profile@2x.png);
        background-size: 84px 84px; } }
  .profile__pic-btn {
    width: 29px;
    height: 29px;
    display: inline-block;
    position: absolute;
    right: -15px;
    bottom: 5px;
    border-radius: 50%;
    background: #4A4A4A;
    -webkit-transition: 350ms;
    transition: 350ms; }
    .profile__pic-btn:before {
      color: white;
      font-size: 0.85em;
      line-height: 30px; }
    .profile__pic-btn:hover, .profile__pic-btn:focus {
      background: #7AB901; }
  .profile__name {
    font-size: 1.3em;
    margin: 0; }
  .profile__sub {
    text-transform: uppercase;
    font-size: 0.75em;
    font-weight: bold;
    color: #aaaaaa;
    margin: 0; }
  .profile__section {
    background: white;
    padding: 30px;
    margin-bottom: 25px;
    /*&:last-of-type {
    	margin-bottom: 0;
    }*/ }
  .profile__title {
    font-weight: normal;
    margin: 0 0 30px 0; }
    @media screen and (max-width: 460px) {
      .profile__title {
        font-size: 1.3em; } }
  .profile__certif-history {
    width: 100%; }
    .profile__certif-history a {
      color: #0077A0; }
      .profile__certif-history a:hover {
        text-decoration: underline; }
    .profile__certif-history th {
      color: #aaaaaa;
      font-size: 0.8em;
      text-transform: uppercase; }
    .profile__certif-history td, .profile__certif-history th {
      border-bottom: 1px solid #e9e9e9;
      padding: 8px 3px; }
    .profile__certif-history tr th:nth-child(1), .profile__certif-history tr td:nth-child(1) {
      text-align: left; }
    .profile__certif-history tr th:nth-child(2), .profile__certif-history tr td:nth-child(2) {
      text-align: right; }
    .profile__certif-history tr:last-child td {
      border-bottom: 0px; }
  .profile__password {
    text-align: center;
    margin-left: -7px;
    margin-right: -7px; }
    .profile__password::after {
      clear: both;
      content: "";
      display: table; }
    @media screen and (max-width: 768px) {
      .profile__password {
        margin: 0; } }
  .profile__password-col {
    display: inline-block;
    float: left;
    width: 33.332%;
    padding: 0 7px;
    		/*
    		&:first-child {
    			padding-right: 15px;
    		}
    
    		&:last-child {
    			padding-left: 15px;
    		}*/ }
    @media screen and (max-width: 768px) {
      .profile__password-col {
        display: block;
        float: none;
        width: 100%;
        margin-bottom: 15px;
        padding: 0; }
        .profile__password-col:last-of-type {
          margin-bottom: 0px; } }

.pic-update__container {
  padding: 30px; }
.pic-update__upload {
  width: 100%;
  height: 200px;
  border: 3px dashed #dddddd;
  background: transparent;
  position: relative;
  overflow: hidden; }
  .pic-update__upload:hover {
    border-color: #7AB901; }
.pic-update__upload-btn {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  border: 0;
  z-index: 0; }
  .pic-update__upload-btn small {
    display: block; }
.pic-update__upload-input {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
  cursor: pointer; }
  .pic-update__upload-input small {
    display: block; }
.pic-update__loading {
  width: 100%;
  padding: 30px 0 25px 0;
  display: none;
  text-align: center;
  font-size: 0.9em; }
.pic-update__loading-spinner {
  width: 42px;
  height: 42px;
  background: url(../../Images/spinner.png) no-repeat 50% 50%;
  margin: 0 auto;
  -webkit-animation: spinner 1.5s linear infinite;
          animation: spinner 1.5s linear infinite; }
.pic-update__instructions {
  font-size: 0.9em;
  color: #979797;
  text-align: center;
  padding: 0 40px;
  margin: 25px 0 0 0; }
  .pic-update__instructions i {
    position: relative;
    top: 1px;
    margin-right: 5px; }
  .pic-update__instructions strong {
    display: inline-block; }
  @media screen and (max-width: 460px) {
    .pic-update__instructions {
      padding: 0;
      font-size: 0.85em; } }

.certif-history__container {
  padding: 30px; }
  @media screen and (max-width: 460px) {
    .certif-history__container {
      padding: 25px 10px; } }
.certif-history__question {
  color: white;
  margin: 0 0 15px 0; }
  .certif-history__question--correct {
    background-color: #7AB901; }
    .certif-history__question--correct .certif-history__question-text {
      background-color: #69a001; }
  .certif-history__question--incorrect {
    background-color: #CD2700; }
    .certif-history__question--incorrect .certif-history__question-text {
      background-color: #b32200; }
.certif-history__question-text {
  margin: 0;
  padding: 10px 15px; }
.certif-history__answers {
  padding: 12px 20px;
  margin: 0;
  list-style: none; }
  .certif-history__answers::after {
    clear: both;
    content: "";
    display: table; }
.certif-history__answer {
  width: 50%;
  display: inline-block;
  float: left;
  padding: 5px; }
  @media screen and (max-width: 768px) {
    .certif-history__answer {
      width: 100%;
      display: block;
      padding: 3px 0; } }
  .certif-history__answer p {
    font-size: 0.9em;
    margin: 0;
    padding: 8px; }
    .certif-history__answer p:before {
      font-size: 0.9em;
      margin-right: 8px;
      position: relative;
      top: 1px;
      opacity: 0.75; }
  .certif-history__answer--selected p {
    border: 1px solid rgba(255, 255, 255, 0.35);
    border-radius: 3px; }
.certif-history__points {
  font-size: 1.3em;
  margin: 30px 0 0 0;
  font-weight: normal;
  text-align: center; }

.input-label--default {
  display: block;
  font-size: 0.75em;
  text-transform: uppercase;
  color: #8a8a8a;
  letter-spacing: 0.02em;
  margin: 0 0 5px 0;
  text-align: left; }

.input--default {
  width: 100%;
  display: block;
  border: 1px solid #cacaca;
  outline: 0;
  padding: 5px 14px;
  -webkit-transition: 350ms;
  transition: 350ms; }
  .input--default:focus {
    border-color: #7AB901; }

.form-button {
  height: 48px;
  line-height: 46px;
  display: inline-block;
  border-radius: 2px;
  padding: 0 25px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  border: 1px solid white;
  outline: 0;
  cursor: pointer; }
  .form-button--default {
    margin-top: 25px;
    background: #129DC0;
    color: white;
    -webkit-transition: 250ms;
    transition: 250ms; }
    .form-button--default:hover, .form-button--default:focus {
      -webkit-transform: scale(1.1);
          -ms-transform: scale(1.1);
              transform: scale(1.1); }
  @media screen and (max-width: 520px) {
    .form-button {
      width: 100%; } }

.progress {
  margin-bottom: 30px; }
  .progress__text {
    font-size: 0.9em; }
    .progress__text--total {
      width: 100%;
      position: absolute;
      top: 67px;
      left: 2px;
      text-align: center;
      text-transform: uppercase;
      line-height: 30px; }
      .progress__text--total .progress__chart-label {
        display: block;
        text-transform: uppercase;
        color: #9d9d9d; }
      .progress__text--total .progress__chart-percent {
        display: block;
        font-size: 2.1em;
        font-weight: normal; }
  .progress__bar {
    width: 100%;
    height: 8px;
    background: #EEEEEE;
    position: relative;
    margin-top: 3px; }
  .progress__value {
    width: 0%;
    height: 8px;
    position: absolute;
    left: 0;
    top: 0; }
    .progress__value--mod-inicial {
      background-color: #005C84; }
    .progress__value--equipos {
      background-color: #0077A0; }
    .progress__value--oferta {
      background-color: #129DC0; }
    .progress__value--saber-mas {
      background-color: #00C6D7; }
    .progress__value--certif {
      background-color: #00ddf1; }

.bar-chart--default .bar-chart__label {
  font-size: 0.9em;
  padding-bottom: 3px; }
.bar-chart--default .bar-chart__bg {
  height: 9px; }
.bar-chart--big .bar-chart__label {
  padding-bottom: 4px; }
.bar-chart--big .bar-chart__bg {
  height: 16px; }
.bar-chart__bg {
  width: 100%;
  background: #e9e9e9;
  position: relative; }
.bar-chart__value {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #7AB901; }
  .bar-chart__value--mod-inicial {
    background-color: #005C84; }
  .bar-chart__value--equipos {
    background-color: #0077A0; }
  .bar-chart__value--oferta {
    background-color: #129DC0; }
  .bar-chart__value--certif {
    background-color: #00C6D7; }

.table {
  width: 100%; }
  .table__container {
    width: 100%;
    overflow-x: auto; }
  .table--default {
    min-width: 480px;
    text-align: left; }
    .table--default th {
      font-size: 0.8em;
      color: #7d7d7d;
      text-transform: uppercase; }
    .table--default th, .table--default td {
      padding: 8px 10px; }
    .table--default td {
      font-size: 0.95em;
      border-top: 1px solid #e9e9e9; }
      .table--default td small {
        color: #7d7d7d; }
    .table--default a {
      color: #0077A0; }
      .table--default a:hover {
        text-decoration: underline; }
    @media screen and (max-width: 768px) {
      .table--default {
        font-size: 0.9em; } }

.agent__pic {
  width: 100%;
  height: auto;
  max-height: 160px;
  padding-top: 100%;
  border-radius: 50%;
  background: url(http://placehold.it/320x320) no-repeat 50% 50%;
  background-size: cover;
  position: relative; }
.agent__pic-container {
  max-width: 160px;
  float: left;
  display: block;
  margin-right: 3.1916409694%;
  width: 31.2055726871%; }
  .agent__pic-container:last-child {
    margin-right: 0; }
.agent__info-container {
  float: left;
  display: block;
  margin-right: 3.1916409694%;
  width: 65.6027863435%;
  padding: 0 0 0 25px; }
  .agent__info-container:last-child {
    margin-right: 0; }
.agent__info {
  margin-bottom: 20px; }
  .agent__info span {
    font-size: 0.75em;
    color: #7d7d7d;
    font-weight: bold;
    display: block;
    text-transform: uppercase; }
  .agent__info:last-of-type {
    margin-bottom: 0; }
