﻿@model Sidepro.ViewModels.indexViewModel
@using Sidepro.Entities
@using Sidepro.HelperExtensionNameSpace

@{
    ViewBag.Title = "Sidepro Movistar - Canales";
    Layout = "~/Views/Shared/_LayoutABM.cshtml";
}
<script>
    var urlCanales = '@Url.Action("GetCanales", "ABM")';
    var urlAgregarCanal = '@Url.Action("AgregarCanal","ABM")';
    var urlUpdateCanal = '@Url.Action("ModificarCanal","ABM")';

    $(document).ready(function () {
        start();
    })
    function start() {

        $.ajax({
            type: "GET",
            dataType: "json",
            url: urlCanales,
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var canales = data.Canales;
                llenarGrilla(canales);
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });

        function llenarGrilla(canales) {
            var tbody = $('#tbody');
            var trs = '';


            for (var i = 0; i < canales.length; i++) {
                
                trs = trs + '<tr>';
                trs = trs + '    <td>' + canales[i].Descripcion + '</td>';
                trs = trs + '    <td><i class="glyphicon glyphicon-edit" onClick="updateCanal(' + canales[i].Codigo + ', \'' + canales[i].Descripcion + '\')"   onmouseover="" style="cursor: pointer;"></i></td>';
                //trs = trs + '    <td><i class="glyphicon glyphicon-share-alt"  onClick="goToRoleModule(' + roles[i].ID_Rol + ')"  onmouseover="" style="cursor: pointer;"></i></td>';
                trs = trs + '</tr>';
            }
            tbody.html(trs);
        }

    }
    function updateCanal(Codigo, Nombre) {
        $("#updateModal").modal("show");
        $('#updateModalTitle').html(Nombre);
        var tbody = '';

        tbody = tbody + '<tr><td><label>Canal</label></td><td style="padding-bottom:8px; padding-left:8px;"><input type="text" id="txtCanal" style="-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 10px; padding: 0 4px 0 4px;width:100%" value="'+ Nombre +'"  /></td></tr>';
        $('#updateTbody').html(tbody);

        var footer = '';
        footer = footer + '<input type="button" class="btn btn-success" onClick="modificarCanal(' + Codigo + ')" value="Aceptar">';
        footer = footer + '<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">';

        $('#updateModalFooter').html(footer);


        $('#divNombre').html(Nombre);
    }
    function addCanal() {

        $("#addModal").modal("show");
    }
    function addChanel() {

        var Canal;
        Canal = $('#txtCanalA').val();
        $.ajax({
            type: "GET",
            dataType: "json",
            url: urlAgregarCanal,
            contentType: "application/json; charset=utf-8",
            data: { Descripcion: Canal},
            success: function (data) {
                $("#addModal").modal("hide");
                if (data.Mensaje == '') {
                    alert('El canal ha sido agregado con éxito!.');
                } else {
                    alert(data.Mensaje);
                }
                start();
            },
            error: function (xhr, status, error) {
                alert('Ocurrió un error al actualizar el registro, por favor comuniquese con el administrador.');
            }
        });
    }

    function modificarCanal(Codigo) {
        var Descripcion;
        Descripcion= $('#txtCanal').val();

        $.ajax({
            type: "GET",
            dataType: "json",
            url: urlUpdateCanal,
            contentType: "application/json; charset=utf-8",
            data: { cod_canal: Codigo, Descripcion: Descripcion},
            success: function (data) {

                if (data.Mensaje == '') {
                    alert('El canal ha sido modificado con éxito!.');
                } else {
                    alert(data.Mensaje);
                }
                start();
                $('#updateTbody').html('');
                $('#updateModalFooter').html('');
                $("#updateModal").modal("hide");
            },
            error: function (xhr, status, error) {
                alert('Ocurrió un error al actualizar el registro, por favor comuniquese con el administrador.');
            }
        });
    }
    /*
    function goToRoleModule(id_rol) {
        window.location.assign(window.location.origin + "/PortalMovistar/ABM/rolModulo?id_rol=" + id_rol); //SideproMovistar
    }*/
</script>


<div class="site-content site-content--default">
    <div class="card">
        <div class="card__header">
            <h2><a href="javascript:void(0)">Canales</a></h2>
        </div>

        <div class="card__content">
            <div class="table__container">
                <table class=" table table--default">
                    <thead>
                        <tr>
                            <th>Canal</th>
                            <th style="width: 2px; padding:0;"></th>
                            @*<th style="width: 2px; padding:0;"></th>*@
                        </tr>
                    </thead>
                    <tbody id="tbody"></tbody>
                </table>

            </div>
            <div style="padding-top:10px">
                <input type="button" class="btn btn-success" onclick="addCanal()" value="Agregar" style="float: right;">
            </div>
        </div>
    </div>

</div>
<div id="updateModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="updateModalTitle"></h4>
            </div>
            <div class="modal-body">
                <table>
                    <thead><tr><th style="width:30%"></th><th style="width:70%"></th></tr></thead>
                    <tbody id="updateTbody"></tbody>
                </table>
            </div>
            <div class="modal-footer" id="updateModalFooter">
                <input type="button" class="btn btn-success" data-dismiss="modal" value="Aceptar">
                <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
            </div>
        </div>

    </div>
</div>

<div id="addModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="updateModalTitle">Agregar Canal</h4>
            </div>
            <div class="modal-body">
                <table>
                    <thead><tr><th style="width:30%"></th><th style="width:70%;"></th></tr></thead>
                    <tbody id="addTbody">
                        <tr><td><label>Canal</label></td><td style="padding-bottom:8px; padding-left:8px;"><input type="text" id="txtCanalA" value="" style="-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 10px; padding: 0 4px 0 4px;width:100%" /></td></tr>
                    </tbody>
                </table>

            </div>
            <div class="modal-footer" id="updateModalFooter">
                <input type="button" class="btn btn-success" onclick="addChanel()" value="Aceptar">
                <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar"> @*data-dismiss="modal"*@
            </div>
        </div>

    </div>
</div>