﻿@model Sidepro.ViewModels.ABMViewModel
@using Sidepro.Entities
@using Sidepro.HelperExtensionNameSpace

@{
    ViewBag.Title = "Sidepro Movistar";
    Layout = "~/Views/Shared/_LayoutABM.cshtml";
}

<script>
    var urlPregunta = '@Url.Action("GetPregunta", "ABM")';
    var urlAgregarPregunta = '@Url.Action("AgregarPregCertificacion","ABM")';
    var urlUpdatePregunta = '@Url.Action("ModificarPregCertificacion", "ABM")';
    var urlInhabilitarPregunta = '@Url.Action("InhabilitarPregunta","ABM")';
    var urlHabilitarPregunta = '@Url.Action("HabilitarPregunta","ABM")';
    var urlModulos = '@Url.Action("GetModulos","ABM")';
    var urlTraerCursos = '@Url.Action("GetCursosDestacado", "ABM")';
    var urlTraerLeccion = '@Url.Action("GetLeccion", "ABM")';


    var miModulo = @Model.id_modulo;
    var miCurso = @Model.id_curso;
    var miLeccion = @Model.id_leccion;
    var miPregunta = @Model.id_pregunta;

    $(document).ready(function () {

        start();

    });
    function start() {
        
        $.ajax({
            type: "GET",
            dataType: "json",
            url: urlPregunta,
            contentType: "application/json; charset=utf-8",
            data: { id_modulo: miModulo, id_curso:miCurso, id_leccion: miLeccion },
            success: function (data) {

                var cursos = data.preguntas;
                
                llenarGrilla(cursos);
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });



        function llenarGrilla(modulos) {
            var tbody = $('#tbody');
            var trs = '';


            for (var i = 0; i < modulos.length; i++) {

                trs = trs + '<tr>';
                trs = trs + '    <td>' + modulos[i].ModuloCert + '</td>';
                trs = trs + '    <td>' + modulos[i].CursoCert + '</td>';
                trs = trs + '    <td>' + modulos[i].LeccionCert + '</td>';
                trs = trs + '    <td>' + modulos[i].Nombre + '</td>';
                trs = trs + '    <td>' + modulos[i].Cant_puntos + '</td>';
                trs = trs + '    <td>' + modulos[i].Correcto + '</td>';
                trs = trs + '    <td>' + modulos[i].Incorrecto + '</td>';
                trs = trs + '    <td>' + ((modulos[i].Sn_activo == -1) ? 'SI' : 'NO') + '</td>';

                trs = trs + '    <td><i class="glyphicon glyphicon-edit" onClick="updateQuestion('+ modulos[i].ID_ModuloCert + ', ' + modulos[i].ID_CursoCert + ', ' + modulos[i].ID_LeccionCert  + ', ' + modulos[i].Id_modulo + ', ' + modulos[i].Id_curso + ', ' + modulos[i].Id_leccion  + ', ' + modulos[i].Id_pregunta +', \'' + modulos[i].Nombre + '\', ' + modulos[i].Cant_puntos +' , \'' + modulos[i].Correcto  +'\',  \'' +  modulos[i].Incorrecto +'\', '+  modulos[i].Categoria +' )"   onmouseover="" style="cursor: pointer;"></i></td>';

                if (modulos[i].Sn_activo != 0){
                    trs = trs + '    <td><i class="glyphicon glyphicon-minus-sign"  onClick="deleteQuestion('  + modulos[i].Id_modulo + ', ' + modulos[i].Id_curso + ', ' + modulos[i].Id_leccion   + ', ' + modulos[i].Id_pregunta +', \'' + modulos[i].Nombre + '\')"  onmouseover="" style="cursor: pointer;"></i></td>';
                } else {
                    trs = trs + '    <td><i class="glyphicon glyphicon-plus-sign"  onClick="activateQuestion(' + modulos[i].Id_modulo + ', ' + modulos[i].Id_curso + ', ' + modulos[i].Id_leccion  + ', ' + modulos[i].Id_pregunta +', \'' + modulos[i].Nombre + '\')"  onmouseover="" style="cursor: pointer;"></i></td>';
                }
                trs = trs + '    <td><i class="glyphicon glyphicon-share-alt"  onClick="goToAnswer(' + modulos[i].Id_modulo + ', ' + modulos[i].Id_curso + ', ' + modulos[i].Id_leccion + ', ' + modulos[i].Id_pregunta + ')"  onmouseover="" style="cursor: pointer;"></i></td>';

                trs = trs + '</tr>';

            }
            tbody.html(trs);
        }

    }
    function deleteQuestion(id_module, id_curso, id_leccion, id_pregunta,  nombre) {
        $("#deleteModal").modal("show");
        $('#deleteModalTitle').html(nombre);
        var footer = '';
        footer = footer + '<input type="button" class="btn btn-danger" data-dismiss="modal" onClick="inhabilitarPregunta('+id_module+', ' + id_curso + ', ' + id_leccion + ', ' + id_pregunta +')" value="Aceptar"/>';
        footer = footer + '<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">';
        var parrafo = 'Está seguro que desea deshabilitar este módulo? Todos los cursos asociados serán deshabilitados.';
        $('#pActivacion').html(parrafo);
        $('#deleteModalFooter').html(footer);
    }
    function activateQuestion(id_module, id_curso, id_leccion, id_pregunta, nombre) {
        $("#deleteModal").modal("show");
        $('#deleteModalTitle').html(nombre);
        var footer = '';
        footer = footer + '<input type="button" class="btn btn-success" data-dismiss="modal" onClick="habilitarPregunta(' + id_module + ', ' + id_curso + ', ' + id_leccion + ', ' + id_pregunta +')" value="Aceptar"/>';
        footer = footer + '<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">';
        var parrafo = 'Está seguro que desea habilitar este módulo? los cursos asociados no serán habilitados, debe realizarlo manualmente.';
        $('#pActivacion').html(parrafo);
        $('#deleteModalFooter').html(footer);

    }
    function updateQuestion(id_moduloCert, id_cursoCert, id_leccionCert, id_module, id_curso, id_leccion, id_pregunta, nombre, puntos, correcto, incorrecto, categoria) {
        $("#updateModal").modal("show");
        $('#updateModalTitle').html(nombre);
        var tbody = '';

        
        tbody = tbody + '<thead><tr><th style="width:30%"></th><th style="width:70%"></th></tr></thead>';
        
        tbody = tbody + '<tbody id="divCertif">';
        tbody = tbody + '<tr><td><label>Modulo</label></td><td style="padding-bottom:8px; padding-left:8px;"><select id="ddlModulo" style="-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 10px; padding: 0 4px 0 4px;width:100%" onchange="traerCursos($(\'#ddlCurso\'),0,$(\'#ddlModulo\').val(),null)" /></td></tr>';
        tbody = tbody + '<tr><td><label>Curso</label></td><td style="padding-bottom:8px; padding-left:8px;"><select id="ddlCurso" style="-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 10px; padding: 0 4px 0 4px;width:100%" onchange="cambiarCurso(this,0,0)"/></td></tr>';
        //tbody = tbody + '<tr><td><label>Leccion</label></td><td style="padding-bottom:8px; padding-left:8px;"><select id="ddlLeccion" style="-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 10px; padding: 0 4px 0 4px;width:100%" /></td></tr>';
        tbody = tbody + '</tbody>';
        tbody = tbody + '<tr><td><label>Pregunta</label></td><td style="padding-bottom:8px; padding-left:8px;"><input type="text" id="txtNombre" style="-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 10px; padding: 0 4px 0 4px;width:100%;" value="' + nombre + '" /></td></tr>';
        tbody = tbody + '<tr><td><label>Puntos</label></td><td style="padding-bottom:8px; padding-left:8px;"><input type="text" id="txtcant_puntos" style="-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 10px; padding: 0 4px 0 4px;width:100%;" value="' + puntos + '" /></td></tr>';
        tbody = tbody + '<tr><td><label>Texto Correcto</label></td><td style="padding-bottom:8px; padding-left:8px;"><input type="text" id="txtcorrecto" style="-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 10px; padding: 0 4px 0 4px;width:100%;"  value="' + correcto + '" /></td></tr>';
        tbody = tbody + '<tr><td><label>Texto Incorrecto</label></td><td style="padding-bottom:8px; padding-left:8px;"><input type="text" id="txtincorrecto" style="-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 10px; padding: 0 4px 0 4px;width:100%;"  value="' + incorrecto + '" /></td></tr>';
        
        //$('#updateTbody').html(tbody);
        $('#tUpdate').html(tbody);
        
        if (categoria== null)
            categoria = 0;

        cargarModulos($('#ddlModulo'),categoria);
        traerCursos($('#ddlCurso'),0,$('#ddlModulo').val(),null);
        //traerLeccion($('#ddlModulo').val(), $('#ddlCurso').val(),$('#ddlLeccion'));

        var footer = '';
        footer = footer + '<input type="button" class="btn btn-success" onClick="modificarPregunta(' + id_module + ', ' + id_curso + ', ' + id_leccion + ', ' + id_pregunta + ')" value="Aceptar">'; //data-dismiss="modal"

        footer = footer + '<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">';

        $('#updateModalFooter').html(footer);


        $('#divNombre').html(nombre);
    }
    function addQuestion() {
        cargarModulos($('#ddlAModulo'),-1);
        
        traerCursos($('#ddlACurso'),0,$('#ddlAModulo').val(),null);
        $("#addModal").modal("show");
    }
    function goToAnswer(id_modulo, id_curso, id_leccion, id_pregunta) {
        window.location.assign(window.location.origin + "/PortalMovistar/ABM/respuesta?id_modulo=" + id_modulo + "&id_curso=" + id_curso + "&id_leccion=" + id_leccion + "&id_pregunta=" + id_pregunta); // /SideproMovistar

    }
    function addPregunta() {

        var nombre, correcto, incorrecto, cant_puntos;
        nombre = $('#txtNombre').val();
        correcto = $('#txtcorrecto').val();
        incorrecto = $('#txtincorrecto').val();
        var categoria= $('#ddlAModulo').val();

        var modCert = $('#ddlAModulo').val();
        //var cursoCert = $('#ddlACurso').val();
        var leccCert = $('#ddlALeccion').val();

        var cursoCert = getUltimoNivel(-1).val();
        if (cursoCert.val == -1) {
            cursoCert = null;
        }

        $.ajax({
            type: "GET",
            dataType: "json",
            url: urlAgregarPregunta,
            contentType: "application/json; charset=utf-8",
            data :{Id_modulo: miModulo, Id_curso: miCurso, Id_leccion: miLeccion, Nombre: nombre, Correcto: correcto, Incorrecto: incorrecto, categoria: categoria, moduloCert: modCert, cursoCert: cursoCert, leccionCert: leccCert},
            success: function (data) {
                $("#addModal").modal("hide");

                if (data.Mensaje == '') {
                    alert('El Curso ha sido agregado con éxito!.');
                } else {
                    alert(data.Mensaje);
                }
                start();
            },
            error: function (xhr, status, error) {
                alert('Ocurrió un error al actualizar el registro, por favor comuniquese con el administrador.');
            }
        });
    }
    function modificarPregunta(id_module, id_curso, id_leccion, id_pregunta)
    {

        var nombre, correcto, incorrecto, cant_puntos;
        nombre = $('#txtNombre').val();
        correcto = $('#txtcorrecto').val();
        incorrecto = $('#txtincorrecto').val();
        cant_puntos = $('#txtcant_puntos').val();

        var modCert = $('#ddlModulo').val();
        //var cursoCert = $('#ddlCurso').val();
        var leccCert = $('#ddlLeccion').val();


        var cursoCert = getUltimoNivel(0).val();
        if (cursoCert.val == -1) {
            cursoCert = null;
        }
        var categoria= $('#ddlModulo').val();
        debugger
        $.ajax({
            type: "GET",
            dataType: "json",
            url: urlUpdatePregunta,
            contentType: "application/json; charset=utf-8",
            data: { ID_Modulo: id_module,Id_curso: id_curso, Id_leccion: id_leccion,Id_pregunta: id_pregunta, Nombre: nombre, Correcto: correcto, Incorrecto: incorrecto, Cant_puntos: cant_puntos, categoria: categoria, moduloCert: modCert, cursoCert: cursoCert, leccionCert: leccCert},
            success: function (data) {

                if (data.Mensaje == '') {
                    alert('La Lección ha sido modificado con éxito!.');
                } else {
                    alert(data.Mensaje);
                }
                start();
                $('#updateTbody').html('');
                $('#updateModalFooter').html('');
                $("#updateModal").modal("hide");
            },
            error: function (xhr, status, error) {
                alert('Ocurrió un error al actualizar el registro, por favor comuniquese con el administrador.');
            }
        });
    }
    function inhabilitarPregunta(id_module, id_curso, id_leccion, id_pregunta) {

        $.ajax({
            type: "GET",
            dataType: "json",
            url: urlInhabilitarPregunta,
            contentType: "application/json; charset=utf-8",
            data: { ID_Modulo: id_module, Id_curso: id_curso, Id_leccion: id_leccion, Id_pregunta: id_pregunta},
            success: function (data) {
                if (data.Mensaje == '') {
                    alert('La Pregunta ha sido modificado con éxito!.');
                } else {
                    alert(data.Mensaje);
                }

                start();

                $('#deleteModalFooter').html('');

            },
            error: function (xhr, status, error) {
                alert('Ocurrió un error al actualizar el registro, por favor comuniquese con el administrador.');
            }
        });

    }
    function habilitarPregunta(id_module, id_curso, id_leccion, id_pregunta) {

        $.ajax({
            type: "GET",
            dataType: "json",
            url: urlHabilitarPregunta,
            contentType: "application/json; charset=utf-8",
            data: { ID_Modulo: id_module, Id_curso: id_curso, Id_leccion: id_leccion, Id_pregunta: id_pregunta},
            success: function (data) {
                if (data.Mensaje == '') {
                    alert('La Pregunta ha sido modificado con éxito!.');
                } else {
                    alert(data.Mensaje);
                }
                start();

                $('#deleteModalFooter').html('');

            },
            error: function (xhr, status, error) {
                alert('Ocurrió un error al actualizar el registro, por favor comuniquese con el administrador.');
            }
        });

    }
    function traerCursos(control, id_rol, ID_Modulo, ID_Curso) {
        if (ID_Curso == null) {
            eliminarNivel(0);
        }
        id_rol = -10;
        $.ajax({
            type: "GET",
            dataType: "json",
            url: urlTraerCursos,
            contentType: "application/json; charset=utf-8",
            data: { cod_rol: id_rol, id_modulo: ID_Modulo, id_curso: ID_Curso },
            async: false,
            success: function (data) {

                var cursos = data.Cursos;

                completarSelectCursos(control, cursos, ID_Curso);
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    }
    function traerLeccion(miModulo, miCurso,ddlLeccion) {
        //var ddlLeccion = $('#ddlALeccion');

        $.ajax({
            type: "GET",
            dataType: "json",
            url: urlTraerLeccion,
            async: false,
            contentType: "application/json; charset=utf-8",
            data: { id_modulo: miModulo, id_curso: miCurso },
            success: function (data) {

                var lecciones = data.lecciones;
                completarSelectLeccion(ddlLeccion, lecciones);
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    }
    function cargarModulos(control, id_modulo) {

        $.ajax({
            type: "GET",
            dataType: "json",
            url: urlModulos,
            async: false,
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var modulos = data.modulos;
                completarSelect(control, modulos, id_modulo);
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    }
    function completarSelect(control, modulos, id_modulo) {
        var miSelect = control;
        var misDatos = '';
        for (var i = 0; i < modulos.length; i++) {
            if ((modulos[i].Id_modulo == 1) ||  (modulos[i].Id_modulo == 2) || (modulos[i].Id_modulo == 0)){
                if (modulos[i].Id_modulo == id_modulo){
                    misDatos = misDatos + '<option value="' + modulos[i].Id_modulo + '" selected >' + modulos[i].Nombre + '</option>'
                } else {
                    misDatos = misDatos + '<option value="' + modulos[i].Id_modulo + '">' + modulos[i].Nombre + '</option>'
                }
            }
        }

        miSelect.html(misDatos);
    }

    function completarSelectCursos(control, cursos, id_curso) {
        var miSelect = control;
        var misDatos = '';
        misDatos = misDatos + '<option value="-1">Seleccionar</option>';

        for (var i = 0; i < cursos.length; i++) {

            if (cursos[i].Sigue == -1) {
                misDatos = misDatos + '<option value="' + cursos[i].Id_curso + '" class="sigue" >' + cursos[i].Nombre + '</option>';
            } else {
                misDatos = misDatos + '<option value="' + cursos[i].Id_curso + '">' + cursos[i].Nombre + '</option>';
            }
        }
        miSelect.html(misDatos);

    }
    function completarSelectLeccion(control, lecciones) {
        debugger
        
        var miSelect = $(control.selector);
        var misDatos = '';
        misDatos = misDatos + '<option value="-1">Seleccionar</option>';

        for (var i = 0; i < lecciones.length; i++) {

            misDatos = misDatos + '<option value="' + lecciones[i].Id_leccion + '">' + lecciones[i].Nombre + '</option>';
        }
        miSelect.html(misDatos);

    }
    function cambiarCurso(obj, nivel,sn_alta) {
        
        var control;
        if (sn_alta == -1){
            control = $('#ddlALeccion');
        }else{
            control = $('#ddlLeccion');
        }
        eliminarNivel(nivel);
        var sigueA = $('#' + obj.id + ' :selected').hasClass('sigue');
        if (sigueA) {
            agregarNivel(obj.id, $('#' + obj.id + ' :selected').val(), nivel,sn_alta);
        } else {//eliminarNivel(nivel);
            if ($('#ddlCurso :selected').val() != -1) {
                agregarNivelLeccion(obj.id, $('#' + obj.id + ' :selected').val(), nivel,control,sn_alta);
            }
        }
    }
    function agregarNivel(idSelect, id_parent, nivel,sn_alta) {
        debugger
        var body;
        var Module, Course,nombre;
        if (sn_alta == -1){
            body = $('#divCertifA');
            Module = $('#ddlAModulo');
            Course = $('#ddlACurso');
        }else{
            body = $('#divCertif');
            Module = $('#ddlModulo');
            Course = $('#ddlCurso');
        }

        var html = body.html();
        var nuevo = '';

        nivel = parseInt(nivel) + 1;
        if (sn_alta == -1){
            Course = $('#ddlACurso_' + (nivel - 1));
            nombre = "ddlACurso_" + nivel;
        }else{
            Course = $('#ddlCurso_' + (nivel - 1))
            nombre = "ddlCurso_" + nivel;
        }
        if (Course.length == 0) {
            nuevo = nuevo + '<tr id="trNivel_' + nivel + '">';
            nuevo = nuevo + '    <td><label>Sub Nivel ' + nivel + '</label></td>';
            nuevo = nuevo + '    <td style="padding-bottom:8px; padding-left:8px;">';
            nuevo = nuevo + '        <select id="'+nombre+'" style="-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 10px; padding: 0 4px 0 4px;width:100%" onChange="cambiarCurso(this, ' + nivel + ','+sn_alta+')">';
            nuevo = nuevo + '            <option value="-1">Seleccionar</option>';
            nuevo = nuevo + '        </select>';
            nuevo = nuevo + '    </td>';
            nuevo = nuevo + '</tr>';
            html = html + ' ' + nuevo;
            body.append(nuevo);
            //$('#' + idSelect).val(id_parent);
        }
        if (sn_alta == -1){
            Course = $('#ddlACurso_' + (nivel ));
        }else{
            Course = $('#ddlCurso_' + (nivel ))
        }
        traerCursos(Course, -1, Module.val(), $('#' + idSelect).val());



    }
    function agregarNivelLeccion(idSelect, id_parent, nivel, control,sn_alta) {
        var body;
        var Module, Course, nombre;
        if (sn_alta == -1){
            body = $('#divCertifA');
            Module = $('#ddlAModulo');
            Course = $('#ddlACurso');
        }else{
            body = $('#divCertif');
            Module = $('#ddlModulo');
            Course = $('#ddlCurso');
        }
        var html = body.html();
        var nuevo = '';
        if (control.selector == '#ddlALeccion'){ 
            nombre = 'ddlALeccion';
        }else{
            nombre = 'ddlLeccion';
        }
        //control = $('#ddlALeccion');
        nivel = parseInt(nivel) + 1;
        if (control.length == 0) {
            nuevo = nuevo + '<tr id="trNivel_' + nivel + '">';
            nuevo = nuevo + '    <td><label>Leccion</label></td>';
            nuevo = nuevo + '    <td style="padding-bottom:8px; padding-left:8px;">';
            nuevo = nuevo + '        <select id="'+nombre+'" style="-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 10px; padding: 0 4px 0 4px;width:100%">';
            nuevo = nuevo + '            <option value="-1">Seleccionar</option>';
            nuevo = nuevo + '        </select>';
            nuevo = nuevo + '    </td>';
            nuevo = nuevo + '</tr>';
            html = html + ' ' + nuevo;
            body.append(nuevo);
            //$('#' + idSelect).val(id_parent);

            if (nivel == 1) {
                traerLeccion(Module.val(), Course.val(),control);
            } else {
                if (sn_alta == -1){
                    Course = $('#ddlACurso_' + (nivel - 1));
                }else{
                    Course = $('#ddlCurso_' + (nivel - 1))
                }
                traerLeccion(Module.val(), Course.val(),control);
            }
            //traerCursos($('#ddlCurso_' + nivel), 0, $('#ddlModulo').val(), $('#' + idSelect).val());
        }
    }
    function eliminarNivel(nivel) {

        nivel = nivel + 1;
        while ($('#trNivel_' + nivel).length != 0) {
            $('#trNivel_' + nivel).remove();
            nivel = nivel + 1;
        }

    }
    function getUltimoNivel(sn_alta) {
        debugger
        var cursoNivel;
        if (sn_alta == -1){
            cursoNivel = "#ddlACurso";
        }else{
            cursoNivel = "#ddlCurso";
        }
        var found = false;
        var nivel = 1;
        while (($('#trNivel_' + nivel).length != 0) && ($(cursoNivel+'_' + nivel).length != 0)) {
            found = true;
            nivel = nivel + 1;
        }
        nivel = nivel - 1;

        if (found) {
            if ($(cursoNivel+'_' + nivel).val() != -1) {
                return $(cursoNivel+'_' + nivel);
            } else {
                if (nivel == 1) {
                    return $(cursoNivel);
                } else {
                    return $(cursoNivel+'_' + (nivel - 1));
                }
            }

        } else {
            return $(cursoNivel);
        }

    }

</script>
<div class="site-content site-content--default">

    @*<div class="modal-body">
            <iframe src="./Ajax/help" />
        </div>*@
    <div class="card">
        <div class="card__header">
            <h2><a href="javascript:void(0)"> @Model.Titulo </a></h2>
        </div>

        <div class="card__content">
            <div class="table__container" style="overflow:auto;max-height:450px;">
                <table class="table table--default">
                    <thead>
                        <tr>
                            <th>Modulo</th>
                            <th>Curso</th>
                            <th>Leccion</th>
                            <th>Pregunta</th>
                            <th>Puntos</th>
                            <th>Texto_Correcto</th>
                            <th>Texto_Incorrecto</th>
                            <th>Activo</th>

                            <th style="width: 2px; padding:0;"></th>
                            <th style="width: 2px; padding:0;"></th>
                            <th style="width: 2px; padding:0;"></th>

                        </tr>
                    </thead>
                    <tbody id="tbody" ></tbody>
                </table>

            </div>
            <div>
                <input type="button" class="btn btn-success" onclick="addQuestion()" value="Agregar" style="float: right;">
            </div>
        </div>
    </div>

</div>

<!-- CANCEL A PO MODAL -->


<div id="deleteModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="deleteModalTitle"></h4>
            </div>
            <div class="modal-body">
                <p id="pActivacion">Está seguro que desea deshabilitar esta Pregunta? Todos los cursos asociados serán deshabilitados.</p>
            </div>
            <div class="modal-footer" id="deleteModalFooter">
                <input type="button" class="btn btn-danger" data-dismiss="modal" onclick="desactivarCurso()" value="Aceptar" />
                <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
            </div>
        </div>

    </div>
</div>


<div id="updateModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="updateModalTitle"></h4>
            </div>
            <div class="modal-body">
                <table id="tUpdate">
                    <thead><tr><th style="width:30%"></th><th style="width:70%"></th></tr></thead>
                    <tbody id="updateTbody"><tr><td><label>Nombre</label></td><td><input type="text" value="asdasd" /></td></tr></tbody>
                </table>

            </div>
            <div class="modal-footer" id="updateModalFooter">
                <input type="button" class="btn btn-success" data-dismiss="modal" value="Aceptar">
                <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
            </div>
        </div>

    </div>
</div>
<div id="addModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="updateModalTitle">Agregar Pregunta</h4>
            </div>
            <div class="modal-body">
                <table>
                    <thead><tr><th style="width:30%"></th><th style="width:70%;"></th></tr></thead>
                    @*<tbody id="addTbody">*@
                        <tbody id="divCertifA">
                            <tr><td><label>Modulo</label></td><td style="padding-bottom:8px; padding-left:8px;"><select id="ddlAModulo" style="-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 10px; padding: 0 4px 0 4px;width:100%" onchange="traerCursos($('#ddlACurso'),0,$('#ddlAModulo').val(),null)" /></td></tr>
                            <tr><td><label>Curso</label></td><td style="padding-bottom:8px; padding-left:8px;"><select id="ddlACurso" style="-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 10px; padding: 0 4px 0 4px;width:100%" onchange="cambiarCurso(this,0,-1)" /></td></tr>
                        </tbody>
@*                        <tr><td><label>Leccion</label></td><td style="padding-bottom:8px; padding-left:8px;"><select id="ddlALeccion" style="-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 10px; padding: 0 4px 0 4px;width:100%" /></td></tr>*@
                        <tr><td><label>Pregunta</label></td><td style="padding-bottom:8px; padding-left:8px;"><input type="text" id="txtNombre" style="-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 10px; padding: 0 4px 0 4px;width:100%;" value="" /></td></tr>
                        <tr><td><label>Texto Correcto</label></td><td style="padding-bottom:8px; padding-left:8px;"><input type="text" id="txtcorrecto" style="-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 10px; padding: 0 4px 0 4px;width:100%;" value="" /></td></tr>
                        <tr><td><label>Texto Incorrecto</label></td><td style="padding-bottom:8px; padding-left:8px;"><input type="text" id="txtincorrecto" style="-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 10px; padding: 0 4px 0 4px;width:100%;" value="" /></td></tr>
                    @*</tbody>*@
                </table>

            </div>
            <div class="modal-footer" id="updateModalFooter">
                <input type="button" class="btn btn-success" onclick="addPregunta()" value="Aceptar">
                <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar"> @**@
            </div>
        </div>

    </div>
</div>




