﻿@model Sidepro.ViewModels.ReportAgenciaViewModel
@using Sidepro.Entities
@using Sidepro.HelperExtensionNameSpace

@{
    ViewBag.Title = "Sidepro Movistar";
    Layout = "~/Views/Shared/_LayoutReport.cshtml";
}

    <div class="site-content site-content--default">

        <div class="home-col">

            <div class="card card--agent-info">
                <div class="card__header">
                    <h2>Información agente</h2>
                </div>

                <div class="card__content">
                    <div class="agent">
                        <div class="agent__pic-container">
                            <div id ="divImagen" class="agent__pic" style="background: url(../Images/placeholders/agencia-v2.png)"></div>
                        </div>
                        <div class="agent__info-container">
                            <div class="agent__info">
                                <span>Nombre</span>
                                @Model.progreso.NombreAgencia
                            </div>
                            <div class="agent__info">
                                <span>Cantidad de usuarios Activos</span>
                                @Model.progreso.UsuariosActivos
                            </div>
                            @*<div class="agent__info">
                                <span>Cantidad de usuarios Inactivos</span>
                                @Model.progreso.UsuariosInactivos
                            </div>
                            <div class="agent__info">
                                <span>Cantidad de usuarios Totales</span>
                                @Model.progreso.UsuariosTotales
                            </div>*@
                        </div>
                    </div>
                    
                </div>
            </div>

            <div class="card card--overview">
                <div class="card__header">
                    <h2>Progreso</h2>
                </div>

                <div class="card__content" >
                    
                    <div class="overview__categories">
                        <canvas class="overview__chart" id="overview-chart2" style="width: 100%; height: 100%;"></canvas>
                        <div class="bar-chart bar-chart--big">
                            <div class="bar-chart__label">Progreso total promedio <strong id="progreso-total-percent"></strong></div>
                            <div class="bar-chart__bg">
                                <span class="bar-chart__value bar-chart__value--progreso-total" id="progreso-total-value"></span>
                            </div>
                        </div>

                        <div class="overview__col">
                            <div class="bar-chart bar-chart--default">
                                <div class="bar-chart__label">Módulo Inicial <strong id="mod-inicial-percent"></strong></div>
                                <div class="bar-chart__bg">
                                    <span class="bar-chart__value bar-chart__value--mod-inicial" id="mod-inicial-value"></span>
                                </div>
                            </div>

                            <div class="bar-chart bar-chart--default">
                                <div class="bar-chart__label">Equipos <strong id="equipos-percent"></strong></div>
                                <div class="bar-chart__bg">
                                    <span class="bar-chart__value bar-chart__value--equipos" id="equipos-value"></span>
                                </div>
                            </div>
                        </div>
                        <div class="overview__col">
                            <div class="bar-chart bar-chart--default">
                                <div class="bar-chart__label">Oferta y Campaña <strong id="oferta-percent"></strong></div>
                                <div class="bar-chart__bg">
                                    <span class="bar-chart__value bar-chart__value--oferta" id="oferta-value"></span>
                                </div>
                            </div>

                            <div class="bar-chart bar-chart--default">
                                <div class="bar-chart__label">Usuarios usando la plataforma <strong id="certif-percent"></strong></div>
                                <div class="bar-chart__bg">
                                    <span class="bar-chart__value bar-chart__value--certif" id="certif-value"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            

        </div>

        <div class="home-col">

            <div class="card card--overview">
                <div class="card__header">
                    <h2>Certificacion</h2>
                </div>

                <div class="card__content">
                    <div class="overview">
                        <canvas class="overview__chart" id="overview-chart"></canvas>
                        
                        <div class="table__container" style="padding-top:10%">
                            <table class="table table--default">
                                <thead>
                                    <tr>
                                        <th>Certificación</th>
                                        <th>Periodo</th>
                                        <th>Puntaje</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int j = 0; j < Model.progresoMensual.Count(); j++)// (AgenteProgress miProgreso in Model.progresoAgente)
                                    {
                                        CourseProgress miProgreso = Model.progresoMensual[j];
                                        @Html.Raw("<tr>");
                                        @Html.Raw("    <td><a href='javascript:void()' data-featherlight='../ajax/certificacionesAgencia?id_agencia=" + Model.id_agencia + "&mes=" + miProgreso.Mes + "&ano=" + miProgreso.Ano + "'> " + miProgreso.MesTexto + "</a></td>");
                                        @Html.Raw("    <td>" + miProgreso.Periodo + "</td>");
                                        @Html.Raw("    <td>" + ((miProgreso.Total == 0) ? "0" : miProgreso.Total.ToString("0.##").Replace(",", ".")) + "%</td>");
                                        @Html.Raw("</tr>");
                                    }
                                </tbody>
                            </table>
                            @if (Model.progresoMensual.Count() > 0) { 
                            @Html.Raw(" <div style='padding-left:75%;padding-top:2.5%'>")
                            @Html.ActionLink("Exportar a Excel", "ExportToExcel", "Report", new { id_agencia = Model.id_agencia }, new { @class = "header-menu__btn btn--profile" })
                                @*<input type="button" class="btn-success" value="importar a excel" onClick="exportarAExcel()">*@
                            @Html.Raw("</div>")
                            }
                        </div>
                        
                    </div>
                </div>
            </div>

            <br />
            <div class="card card--overview">
                <div class="card__header">
                    <h2>Historial Altas</h2>
                </div>

                <div class="card__content">

                    <div class="overview__categories">
                        <canvas class="overview__chart" id="overview-chart-altas" style="width: 100%; height: 100%;"></canvas>
                    </div>
                </div>
            </div>            
        </div>

    </div>
<div class="site-content site-content--default">
    <div class="home-col" style="width: 100%;">

        <div class="card">
            <div class="card__header">
                <h2>
                    <a href="javascript:void(0)">Listado de Usuarios</a>
                    <label style="padding-left:30%"></label>
                    <input value="" id="txtBuscar" style="color:grey;width:30%;-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 10px; padding: 0 4px 0 4px;" type="text">
                    <label id="lblBuscar" onclick="buscarUsuario(@Model.id_agencia)" class="pagination__page is-active" style="width:8%;cursor: pointer;" onmouseover="">Buscar!</label>

                </h2>
            </div>

            <div class="card__content">
                <div class="table__container">
                    <table class="table table--default">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>User</th>
                                <th>Password</th>
                                <th>DNI</th>
                                <th>Agencia</th>
                                <th>Estado</th>
                                <th>Ultima Actividad</th>
                                <th>Accesos</th>
                                <th>Cursos Aprobados / @DateTime.Today.Month.ToString("00") </th>
                                <th>Progreso </th>
                                <th>Certificación / @DateTime.Today.Month.ToString("00") </th>
                            </tr>
                        </thead>
                        <tbody id="divBody2">
                            @for (int j = 0; j < Model.progresoUsuario.Count(); j++)// (AgenteProgress miProgreso in Model.progresoAgente)
                            {
                                UserProgress miProgreso = Model.progresoUsuario[j];
                                @Html.Raw("<tr>");
                                @Html.Raw("    <td><a href='/PortalMovistar/Report/usuario?id_usuario="+ miProgreso.Cod_usuario +"'>" + miProgreso.Nombre + "</a></td>");//aca dirigir al usuario
                                @Html.Raw("    <td>" + miProgreso.User + "</td>");
                                @Html.Raw("    <td>" + miProgreso.Password + "</td>");
                                @Html.Raw("    <td>" + miProgreso.Documento + "</td>");
                                @Html.Raw("    <td>" + miProgreso.Agencia + "</td>");
                                @Html.Raw("    <td id='"+miProgreso.Cod_usuario+"'>" + (miProgreso.Activo == 0 ? "<input type='button' id='btnDesbloquear_" + miProgreso.Cod_usuario.ToString() + "' onClick='desbloquearUser(" + miProgreso.Cod_usuario.ToString() + ")' value='Desbloquear'> " : "Activo") + "</td>");
                                @Html.Raw("    <td>" + miProgreso.UltimaActividad + "</td>");
                                @Html.Raw("    <td>" + miProgreso.Accesos + "</td>");
                                @Html.Raw("    <td>" + miProgreso.CursosAprobados + "</td>");
                                @Html.Raw("    <td>" + miProgreso.Progreso + "%</td>");
                                @Html.Raw("    <td>" + miProgreso.Certificacion + "</td>");
                                @Html.Raw("</tr>");
                                                  
                            }
                        </tbody>
                    </table>

                </div>
                @Html.Raw(" <div style='padding-left:75%;padding-top:2.5%'>")
                @Html.ActionLink("Exportar Datos de Usuarios", "ExportToExcelUsuariosAgencia", "Report", new { id_agencia = Model.id_agencia }, new { @class = "header-menu__btn btn--profile", @style = "width:100%" })
                @*<input type="button" class="btn-success" value="importar a excel" onClick="exportarAExcel()">*@
                @Html.Raw("</div>")
            </div>
        </div>

    </div>
</div>
    <script>
    var miAgencia = @Model.id_agencia;
    var urlExportToExcel = '@Url.Action("ExportToExcel","Report")';
    function exportarAExcel() {
        debugger
        $.ajax({
            type: "GET",
            dataType: "json",
            url: urlExportToExcel,
            data: { id_agencia: miAgencia},
            contentType: "application/json; charset=utf-8",
            async: false,
            success: function (data) {
                alert('a');
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });

    }
    var imgRojo = '../Images/Placeholders/agencia_rojo.png';
    var imgAmarillo = '../Images/Placeholders/agencia_amarillo.png';
    var imgVerde = '../Images/Placeholders/agencia_verde.png';

    var fillColor = "rgba(122, 185, 1, 0.1)";
    var strokeColor = "rgba(122,185,1,1)";

    $('#divImagen').css('background-image', 'url(../Images/placeholders/agencia-v2.png)');
    @if (Model.progresoMensual.Count() == 0)
    {
        <text>
    $('#divImagen').css('background-image', 'url(' + imgRojo + ')');
    fillcolor = "rgba(232, 30, 30, 0.1)";
    strokeColor = "rgba(232, 30, 30, 1)";

    </text>
    }else{
        if (Model.progresoMensual.Last().Ano == DateTime.Now.Year && Model.progresoMensual.Last().Mes == DateTime.Now.Month)
        {
            if (Model.progresoMensual.Last().Total >= 70)
            {
                <text>
    $('#divImagen').css('background-image', 'url(' + imgVerde + ')');
    </text>
            }
            else
            {
                if (Model.progresoMensual.Last().Total >= 35)
                {
                    <text>
    $('#divImagen').css('background-image', 'url(' + imgAmarillo + ')');
    fillcolor = "rgba(224,240,75,1)";
    strokeColor = "rgba(224,240,75,1)";

    </text>
                }
                else
                {
                    <text>
    $('#divImagen').css('background-image', 'url(' + imgRojo + ')');
    fillcolor = "rgba(232, 30, 30, 0.1)";
    strokeColor = "rgba(232, 30, 30, 1)";

    </text>
                }
            }
        }
        else
        {
            <text>
    $('#divImagen').css('background-image', 'url(' + imgRojo + ')');
    fillcolor = "rgba(232, 30, 30, 0.1)";
    strokeColor = "rgba(232, 30, 30, 1)";
    </text>
        }

    }


    // Dummy data: Line chart (progreso total + certificación)
    var Data = [];
    var Labels = [];
    @foreach (CourseProgress miProgreso in Model.progresoMensual)
        {
            <text>
    Labels.push('@miProgreso.MesTexto.Replace("Test ","Certificacion ")');
    Data.push(@miProgreso.Total.ToString("0.00").Replace(",","."));
    </text>

        }
    var overviewData = {
        labels: Labels, //["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio"],
        datasets: [
            {
                label: "Progreso total",
                fillColor: fillColor,//"rgba(122,185,1,0.1)",
                strokeColor: strokeColor,//"rgba(122,185,1,1)",
                pointColor: strokeColor,//"rgba(122,185,1,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: strokeColor,//"rgba(122,185,1,1)",
                data: Data //[28, 48, 40, 19, 86, 27, 90]
            }

        ]
    };



    var overviewContainer = document.getElementById('overview-chart').getContext("2d");
    var myLineChart = new Chart(overviewContainer).Line(overviewData, {
        responsive: true,
        scaleGridLineColor: "rgba(0,0,0,.05)",
        multiTooltipTemplate: "<%= value %>%",
        scaleOverride: true,
        scaleStartValue: 0,
        scaleSteps: 4,
        scaleStepWidth: 25,
        customTooltips: false,
        tooltipTemplate: "<%if (label){%><%=label%>: <%}%><%= value %>%",
        scaleLabel: "<%=value%>%"
    });

    var Data2 = [];
    var Labels2 = [];
    @foreach (CourseProgress miProgreso in Model.progresoMensualUsuariosAgencia)
        {
            <text>
    Labels2.push('@miProgreso.MesTexto');
    Data2.push(@miProgreso.Total.ToString().Replace(",","."));
    </text>

        }

    var overviewData2 = {
        labels: Labels2,//["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio"],
        datasets: [
            {
                label: "Progreso total",
                fillColor: "rgba(122,185,1,0.1)",
                strokeColor: "rgba(122,185,1,1)",
                pointColor: "rgba(122,185,1,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(122,185,1,1)",
                data: Data2//[28, 48, 40, 19, 86, 27, 90]
            }
        ]
    };

    var overviewContainer2 = document.getElementById('overview-chart2').getContext("2d");
    var myLineChart2 = new Chart(overviewContainer2).Line(overviewData2, {
        responsive: true,
        scaleGridLineColor: "rgba(0,0,0,.05)",
        multiTooltipTemplate: "<%= value %>%",
        scaleOverride: true,
        scaleStartValue: 0,
        scaleSteps: 4,
        scaleStepWidth: 25,
        customTooltips: false,
        tooltipTemplate: "<%if (label){%><%=label%>: <%}%><%= value %>%",
        scaleLabel: "<%=value%>%"
    });



    var Data3 = [];
    var Labels3 = [];
    @foreach (ReporteAltas miProgreso in Model.reporteAltas)
    {
        <text>
        Labels3.push('@miProgreso.MesTexto' + ' ' + '@miProgreso.Ano.ToString()');
        Data3.push(@miProgreso.Cantidad.ToString().Replace(",","."));
        </text>

    }


    var overviewData3 = {
        labels: Labels3,//["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio"],
        datasets: [
            {
                label: "Progreso total",
                fillColor: "rgba(122,185,1,0.1)",
                strokeColor: "rgba(122,185,1,1)",
                pointColor: "rgba(122,185,1,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(122,185,1,1)",
                data: Data3//[28, 48, 40, 19, 86, 27, 90]
            }
        ]
    };

    var overviewContainer3 = document.getElementById('overview-chart-altas').getContext("2d");
    var myLineChart3 = new Chart(overviewContainer3).Line(overviewData3, {
        responsive: true,
        scaleGridLineColor: "rgba(0,0,0,.05)",
        multiTooltipTemplate: "<%= value %>%",
        scaleOverride: true,
        scaleStartValue: 0,
        scaleSteps: 4,
        scaleStepWidth: 25,
        customTooltips: false
    });

    // Dummy data: Bar charts (progreso por módulos + certificación)

    var progresoTotalValue = '@Model.progreso.Total.ToString().Replace(",", ".")%';
    var modInicialValue = '@Model.progreso.ModuloInicial.ToString().Replace(",", ".")%';
    var equiposValue = '@Model.progreso.Equipos.ToString().Replace(",", ".")%';
    var ofertaValue = '@Model.progreso.OfertaYCampana.ToString().Replace(",", ".")%';
    var certifValue = '@Model.progreso.CantidadUsuarios.ToString().Replace(",", ".")%';


    window.onload = function () {
        $('#progreso-total-value').animate({ width: progresoTotalValue }, 750);
        $("#progreso-total-percent").prepend(progresoTotalValue);

        $('#mod-inicial-value').animate({ width: modInicialValue }, 750);
        $("#mod-inicial-percent").prepend(modInicialValue);

        $('#equipos-value').animate({ width: equiposValue }, 750);
        $("#equipos-percent").prepend(equiposValue);

        $('#oferta-value').animate({ width: ofertaValue }, 750);
        $("#oferta-percent").prepend(ofertaValue);

        $('#certif-value').animate({ width: certifValue }, 750);
        $("#certif-percent").prepend(certifValue);
    };
    var urlGetUsers = '@Url.Action("GetUsuariosAgencia","Report")';
    function buscarUsuario(id_agencia) {
        var aBuscar = $('#txtBuscar').val();

        $.ajax({
            type: "GET",
            dataType: "json",
            url: urlGetUsers,
            data: { usuario: aBuscar, id_agencia: id_agencia },
            contentType: "application/json; charset=utf-8",
            async: false,
            success: function (data) {
                var obj = JSON.parse(data);
                setearBodyUsuarios(obj);
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    }
    function setearBodyUsuarios(obj) {
        debugger
        var datosUser = '';
        var body = $('#divBody2');
        for (i = 0; i < obj.length; i++) {
            datosUser = datosUser + "<tr>";
            datosUser = datosUser + "    <td><a href='/PortalMovistar/Report/usuario?id_usuario=" + obj[i].Cod_usuario + "'>" + obj[i].Nombre + "</a></td>";
            datosUser = datosUser + "    <td>" + obj[i].User + "</td>";
            datosUser = datosUser + "    <td>" + obj[i].Password + "</td>";
            datosUser = datosUser + "    <td>" + obj[i].Documento + "</td>";
            datosUser = datosUser + "    <td>" + obj[i].Agencia + "</td>";
            //datosUser = datosUser + "    <td>" + obj[i].Estado + "</td>";
            datosUser = datosUser + "    <td id='"+obj[i].Cod_usuario+"'>" + (obj[i].Activo == 0 ? "<input type='button' id='btnDesbloquear_" + obj[i].Cod_usuario + "' onClick='desbloquearUser(" + obj[i].Cod_usuario + ")' value='Desbloquear'> " : "Activo") + "</td>";
            datosUser = datosUser + "    <td>" + obj[i].UltimaActividad + "</td>";
            datosUser = datosUser + "    <td>" + obj[i].Accesos + "</td>";
            datosUser = datosUser + "    <td>" + obj[i].CursosAprobados + "</td>";
            datosUser = datosUser + "    <td>" + obj[i].Progreso + "%</td>";
            datosUser = datosUser + "    <td>" + obj[i].Certificacion + "</td>";
            datosUser = datosUser + "</tr>";

        }
        body.html(datosUser);
        //alert('entro y trajo user');
    }
    var urlDesbloquearUser = '@Url.Action("DesbloquearUsuario", "ABM")';
    function desbloquearUser(cod_usuario){
        $.ajax({
            type: "GET",
            dataType: "json",
            url: urlDesbloquearUser,
            data: { cod_usuario: cod_usuario},
            contentType: "application/json; charset=utf-8",
            async: false,
            success: function (data) {
                debugger
                //var obj = JSON.parse(data);
                if (data.Mensaje == ""){
                    alert("El usuario ya fue desbloqueado. Puede ingresar con la Password que figura en el listado. Se envió un mail al usuario para notificarle de su activación");
                    $('#' +cod_usuario).html("Activo");
                }else{
                    alert(data.Mensaje);
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    }

</script>
