﻿@model Sidepro.ViewModels.ReportViewModel
@using Sidepro.Entities
@using Sidepro.HelperExtensionNameSpace

@{
    ViewBag.Title = "Sidepro Movistar";
    Layout = "~/Views/Shared/_LayoutReport.cshtml";
}

    <div class="site-content site-content--default">

    <div class="home-col">

        <div class="card card--overview">
            <div class="card__header">
                <h2>Vista General</h2>
            </div>

            <div class="card__content">
                <div class="overview">
                    <canvas class="overview__chart" id="overview-chart"></canvas>

                    <div class="overview__categories">
                        <div class="bar-chart bar-chart--big">
                            <div class="bar-chart__label">Progreso total agentes oficiales <strong id="progreso-total-percent-agencia"></strong></div>
                            <div class="bar-chart__bg">
                                <span class="bar-chart__value bar-chart__value--progreso-total" id="progreso-total-value-agencia"></span>
                            </div>
                        </div>

                        <div class="overview__col">
                            <div class="bar-chart bar-chart--default">
                                <div class="bar-chart__label">Módulo Inicial <strong id="mod-inicial-percent"></strong></div>
                                <div class="bar-chart__bg">
                                    <span class="bar-chart__value bar-chart__value--mod-inicial" id="mod-inicial-value"></span>
                                </div>
                            </div>

                            <div class="bar-chart bar-chart--default">
                                <div class="bar-chart__label">Equipos <strong id="equipos-percent"></strong></div>
                                <div class="bar-chart__bg">
                                    <span class="bar-chart__value bar-chart__value--equipos" id="equipos-value"></span>
                                </div>
                            </div>
                        </div>
                        <div class="overview__col">
                            <div class="bar-chart bar-chart--default">
                                <div class="bar-chart__label">Oferta y Campaña <strong id="oferta-percent"></strong></div>
                                <div class="bar-chart__bg">
                                    <span class="bar-chart__value bar-chart__value--oferta" id="oferta-value"></span>
                                </div>
                            </div>


                            <div class="bar-chart bar-chart--default" style="">
                                <div class="bar-chart__label">Actividad actual <strong id="certif-percent"></strong></div>
                                <div class="bar-chart__bg">
                                    <span class="bar-chart__value bar-chart__value--certif" id="certif-value"></span>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>

    </div>
    <div class="home-col">

        <div class="card card--overview">
            <div class="card__header">
                <h2>Accesos</h2>
            </div>
            <div class="card__content">
                <div class="overview">
                    <canvas class="overview__chart" id="overview-chart2"></canvas>


                    <div class="overview__categories">
                        <div class="bar-chart bar-chart--big" style="display:none">
                            <div class="bar-chart__label">Progreso total Agentes Oficiales <strong id="progreso-total-percent-agencia2"></strong></div>
                            <div class="bar-chart__bg">
                                <span class="bar-chart__value bar-chart__value--progreso-total" id="progreso-total-value-agencia2"></span>
                            </div>
                        </div>
                        <div class="bar-chart bar-chart--big" style="display:none">
                            <div class="bar-chart__label">Progreso total CEC's <strong id="progreso-total-percent-cecs"></strong></div>
                            <div class="bar-chart__bg">
                                <span class="bar-chart__value bar-chart__value--progreso-total" id="progreso-total-value-cecs"></span>
                            </div>
                        </div>
                        <div class="overview__col" style="display:none">
                            <div class="bar-chart bar-chart--default">
                                <div class="bar-chart__label">Usuarios Activos: <strong id="mod-inicial-percent"><label id="lblAgencia">@Model.datosGenerales.CantidadActivos</label></strong></div>
                            </div>

                            @*<div class="bar-chart bar-chart--default">
                                <div class="bar-chart__label">Usuarios Inactivos: <strong id="equipos-percent"><label id="lblCecs">@Model.datosGenerales.CantidadInactivos</label></strong></div>
                            </div>*@
                        </div>
                        <div class="overview__col">

                            <div class="bar-chart bar-chart--default" style="display:none">
                                <div class="bar-chart__label">Usuarios totales: <strong id="equipos-percent"><label id="lblUsuarios">@Model.datosGenerales.CantidadUsuarios</label></strong></div>
                            </div>
                            <div class="bar-chart bar-chart--default" style="display:none;">
                                <div class="bar-chart__label">Otros: <strong id="equipos-percent"><label id="lblCecs">@Model.datosGenerales.CantidadOtros</label></strong></div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="site-content site-content--default">
    <div class="home-col" style="width: 100%;">

        <div class="card">
            <div class="card__header">
                <h2>
                    <a href="javascript:void(0)">Certificaciones</a>
                </h2>
            </div>
            <div class="card__content">
                <div class="overview">
                    <canvas class="overview__chart" id="overview-chart-certificacion"></canvas>

                    @Html.Raw(" <div style='padding-left:75%;padding-top:2.5%'>")
                    @Html.ActionLink("Certificaciones del mes anterior", "ExportToExcelMensual", "Report", new { id_agencia = -1 }, new { @class = "header-menu__btn btn--profile", @style = "width:100%" })
                    @*<input type="button" class="btn-success" value="importar a excel" onClick="exportarAExcel()">*@
                    @Html.Raw("</div>")
                </div>

            </div>

        </div>

    </div>
</div>
<div class="site-content site-content--default">
    <div class="home-col" style="width: 100%;">

        <div class=" card">
        <div class="card__header">
            <h2><a href="~/Report/listadoAgentes">Listado de agentes</a></h2>
        </div>

        <div class="card__content">
            <div class="table__container">
                <table class="table table--default">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Progreso</th>
                            <th>Certificación / @DateTime.Today.Month.ToString("00") </th>
                        </tr>
                    </thead>
                    <tbody id="divBody">
                        @for (int j = 0; j < Model.progresoAgente.Count(); j++)// (AgenteProgress miProgreso in Model.progresoAgente)
                        {
                            AgenteProgress miProgreso = Model.progresoAgente[j];
                            @Html.Raw("<tr>");
                            @Html.Raw("    <td><a href='Report/agente?id_agencia=" + miProgreso.Agencia + "'>" + miProgreso.Nombre + "</a></td>");
                            @Html.Raw("    <td>" + ((miProgreso.Progreso == 0) ? "0" : miProgreso.Progreso.ToString("0.##")) + "%</td>");
                            @Html.Raw("    <td>" + ((miProgreso.Nota == 0) ? "0" : miProgreso.Nota.ToString("0.##").Replace(",", ".")) + "%</td>");
                            @Html.Raw("</tr>");
                                          if (j >= 5)
                                          {
                                              break;
                                          }
                        }
                        @*<tr>
                                <td><a href="agente.html">Nombre del Agente</a></td>
                                <td>38%</td>
                                <td>Test Inicial <small>(75%)</small></td>
                            </tr>
                            <tr>
                                <td><a href="agente.html">Nombre del Agente</a></td>
                                <td>38%</td>
                                <td>Test Inicial <small>(75%)</small></td>
                            </tr>
                            <tr>
                                <td><a href="agente.html">Nombre del Agente</a></td>
                                <td>38%</td>
                                <td>Test Inicial <small>(75%)</small></td>
                            </tr>
                            <tr>
                                <td><a href="agente.html">Nombre del Agente</a></td>
                                <td>38%</td>
                                <td>Test Inicial <small>(75%)</small></td>
                            </tr>
                            <tr>
                                <td><a href="agente.html">Nombre del Agente</a></td>
                                <td>38%</td>
                                <td>Test Inicial <small>(75%)</small></td>
                            </tr>
                            <tr>
                                <td><a href="agente.html">Nombre del Agente</a></td>
                                <td>38%</td>
                                <td>Test Inicial <small>(75%)</small></td>
                            </tr>
                            <tr>
                                <td><a href="agente.html">Nombre del Agente</a></td>
                                <td>38%</td>
                                <td>Test Inicial <small>(75%)</small></td>
                            </tr>*@
                    </tbody>
                </table>
            </div>

            @if (Model.progresoAgente.Count > 10)
            {
                @Html.Raw("<div class='pagination'>");
                                                 //@Html.Raw("<a href='javascript:void()' class='pagination__page is-active'>1</a>");
                                                 for (int i = 0; i < ((Model.progresoAgente.Count / 6) + (((Model.progresoAgente.Count % 6) == 0) ? 0 : 1) ) ; i++)
                                                 {
                                                    @Html.Raw("<a href='javascript:void(0)' id='paginacion" + (i + 1).ToString() + "' onClick='irAPagina(" + (i + 1).ToString() + ")' class='pagination__page " + ((i == 0) ? "is-active" : "") + "'>" + (i + 1).ToString() + "</a>");
                                                 }
                                                @Html.Raw("</div>");
            }
            @*<div class="pagination">
                    <a href="javascript:void()" class="pagination__prev"></a>
                    <a href="javascript:void()" class="pagination__page is-active">1</a>
                    <a href="javascript:void()" class="pagination__page">2</a>
                    <a href="javascript:void()" class="pagination__page">3</a>
                    <a href="javascript:void()" class="pagination__page">4</a>
                    <a href="javascript:void()" class="pagination__next is-enabled"></a>
                </div>*@
        </div>
    </div>

</div>
</div>
<div class="site-content site-content--default">
    <div class="home-col" style="width: 100%;">

        <div class="card">
            <div class="card__header">
                <h2>
                    <a href="javascript:void(0)">Novedades por usuario</a>
                    <label style="padding-left:30%"></label>
                    <input value="" id="txtBuscarNovedades" style="color:grey;width:30%;-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 10px; padding: 0 4px 0 4px;" type="text">
                    <label id="lblBuscar2" onclick="buscarUsuarioNovedades()" class="pagination__page is-active" style="width:8%;cursor: pointer;" onmouseover="">Buscar!</label>
                </h2>
            </div>

            <div class="card__content">
                <div class="table__container">
                    <table class="table table--default">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Apellido</th>
                                <th>Agenda de Novedades</th>
                                <th>Descargo?</th>
                                <th>Aprobo?</th>
                                <th>Veces Reprobado</th>
                            </tr>
                        </thead>
                        <tbody id="divBodyNovedades">
                            @for (int j = 0; j < Model.reporteNovedades.Count(); j++)// (AgenteProgress miProgreso in Model.progresoAgente)
                            {
                                ReporteNovedades miReporte = Model.reporteNovedades[j];
                                @Html.Raw("<tr>");
                                @Html.Raw("    <td>" + miReporte.Nombre + "</td>");//aca dirigir al usuario
                                @Html.Raw("    <td>" + miReporte.Apellido + "</td>");
                                @Html.Raw("    <td>" + miReporte.Novedad + "</td>");
                                @Html.Raw("    <td>" + miReporte.Descargado + "</td>");
                                @Html.Raw("    <td>" + miReporte.Aprobado + "</td>");
                                @Html.Raw("    <td>" + miReporte.Reprobados + "</td>");
                                @Html.Raw("</tr>");
                                if (j >= 9)
                                {
                                    break;
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="site-content site-content--default">
    <div class="home-col" style="width: 100%;">

        <div class="card">
            <div class="card__header">
                <h2>
                    <a href="javascript:void(0)">Estado Emails</a>
                    <label style="padding-left:30%"></label>
                    <input value="" id="txtBuscarEstadoMails" style="color:grey;width:30%;-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 10px; padding: 0 4px 0 4px;" type="text">
                    <label id="lblBuscar3" onclick="buscarEstadoMails()" class="pagination__page is-active" style="width:8%;cursor: pointer;" onmouseover="">Buscar!</label>
                </h2>
            </div>

            <div class="card__content">
                <div class="table__container">
                    <table class="table table--default">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Apellido</th>
                                <th>Agencia</th>
                                <th>enviado?</th>
                                <th>FechaEnviado</th>
                                <th>TipoEmail</th>
                            </tr>
                        </thead>
                        <tbody id="divBodyMails">
                            @for (int j = 0; j < Model.estadoMails.Count(); j++)// (AgenteProgress miProgreso in Model.progresoAgente)
                            {
                                MailUsuario miReporte = Model.estadoMails[j];
                                @Html.Raw("<tr>");
                                @Html.Raw("    <td>" + miReporte.Nombre + "</td>");//aca dirigir al usuario
                                @Html.Raw("    <td>" + miReporte.Apellido + "</td>");
                                @Html.Raw("    <td>" + miReporte.Agencia + "</td>");
                                @Html.Raw("    <td>" + (miReporte.sn_enviado == -1 ? "Si" : "No" ) + "</td>");
                                @Html.Raw("    <td>" + miReporte.FechaEnviado + "</td>");
                                @Html.Raw("    <td>" + miReporte.TipoMail + "</td>");
                                @Html.Raw("</tr>");
                                                  if (j >= 9)
                                                  {
                                                      break;
                                                  }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="site-content site-content--default">
    <div class="home-col" style="width: 100%;">

        <div class="card">
            <div class="card__header">
                <h2>
                    <a href="javascript:void(0)">Listado de Usuarios</a>
                    <label style="padding-left:30%"></label>
                    <input value="" id="txtBuscar" style="color:grey;width:30%;-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 10px; padding: 0 4px 0 4px;" type="text">
                    <label id="lblBuscar" onclick="buscarUsuario()" class="pagination__page is-active" style="width:8%;cursor: pointer;" onmouseover="">Buscar!</label>
                </h2>
            </div>

            <div class="card__content">
                <div class="table__container">
                    <table class="table table--default">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>DNI</th>
                                <th>Agencia</th>
                                <th>Ultima Actividad</th>
                                <th>Accesos</th>
                                <th>Cursos Aprobados / @DateTime.Today.Month.ToString("00") </th>
                                <th>Progreso </th>
                                <th>Certificación / @DateTime.Today.Month.ToString("00") </th>
                            </tr>
                        </thead>
                        <tbody id="divBody2">
                            @for (int j = 0; j < Model.progresoUsuario.Count(); j++)// (AgenteProgress miProgreso in Model.progresoAgente)
                            {
                                UserProgress miProgreso = Model.progresoUsuario[j];
                                @Html.Raw("<tr>");
                                @Html.Raw("    <td><a href='Report/usuario?id_usuario="+ miProgreso.Cod_usuario +"'>" + miProgreso.Nombre + "</a></td>");//aca dirigir al usuario
                                @Html.Raw("    <td>" + miProgreso.Documento + "</td>");
                                @Html.Raw("    <td>" + miProgreso.Agencia + "</td>");
                                @Html.Raw("    <td>" + miProgreso.UltimaActividad + "</td>");
                                @Html.Raw("    <td>" + miProgreso.Accesos + "</td>");
                                @Html.Raw("    <td>" + miProgreso.CursosAprobados + "</td>");
                                @Html.Raw("    <td>" + miProgreso.Progreso + "%</td>");
                                @Html.Raw("    <td>" + miProgreso.Certificacion + "</td>");
                                @Html.Raw("</tr>");
                                                  if (j >= 9)
                                                  {
                                                      break;
                                                  }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>
<script>
    // Dummy data: Line chart (progreso total + certificación)
    var Data = [];
    var Labels = [];
    @foreach (CourseProgress miProgreso in Model.progresoMensual)
        {
            <text>
    Labels.push('@miProgreso.MesTexto');
    Data.push(@miProgreso.Total.ToString().Replace(",","."));
    </text>

        }


    var DataCert = [];
    var LabelsCert = [];
    @foreach (CourseProgress miProgreso in Model.CertMensuales)
    {
        <text>
            LabelsCert.push('@miProgreso.MesTexto');
            DataCert.push(@miProgreso.Total.ToString().Replace(",","."));
        </text>

    }

    var overviewData = {
        labels: Labels,//["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio"],
        datasets: [
            {
                label: "Progreso total",
                fillColor: "rgba(122,185,1,0.1)",
                strokeColor: "rgba(122,185,1,1)",
                pointColor: "rgba(122,185,1,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(122,185,1,1)",
                data: Data//[28, 48, 40, 19, 86, 27, 90]
            }
        ]
    };

    var overviewContainer = document.getElementById('overview-chart').getContext("2d");
    var myLineChart = new Chart(overviewContainer).Line(overviewData, {
        responsive: true,
        scaleGridLineColor: "rgba(0,0,0,.05)",
        multiTooltipTemplate: "<%= value %>%",
        customTooltips: false,
        tooltipTemplate: "<%if (label){%><%=label%>: <%}%><%= value %>%",
        scaleLabel: "<%=value%>%"
    });


    var overviewDataCert = {
        labels: LabelsCert,//["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio"],
        datasets: [
            {
                label: "Certificaciones",
                fillColor: "rgba(0, 198, 215,0.1)",
                strokeColor: "rgba(0, 198, 215,1)",
                pointColor: "rgba(0, 198, 215,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(122,185,1,1)",
                data: DataCert//[28, 48, 40, 19, 86, 27, 90]
            }
        ]
    };
    var overviewContainerCert = document.getElementById('overview-chart-certificacion').getContext("2d");
    var myLineChartCert = new Chart(overviewContainerCert).Line(overviewDataCert, {
        responsive: true,
        scaleGridLineColor: "rgba(0,0,0,.05)",
        multiTooltipTemplate: "<%= value %>%",
        customTooltips: false,
        tooltipTemplate: "<%if (label){%><%=label%>: <%}%><%= value %>%",
        scaleLabel: "<%=value%>%",
        scaleOverride: true,
        scaleStartValue: 0,
        scaleSteps: 4,
        scaleStepWidth: 25,
        customTooltips: false
    });


    var Data2 = [];
    var Labels2 = [];
    @foreach (CourseProgress miProgreso in Model.logeos)
    {
        <text>
    Labels2.push('@miProgreso.MesTexto');
    Data2.push(@miProgreso.Total.ToString().Replace(",","."));
    </text>

    }

    var overviewData2 = {
        labels: Labels2,//["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio"],
        datasets: [
            {
                label: "Progreso total",
                fillColor: "rgba(122,185,1,0.1)",
                strokeColor: "rgba(122,185,1,1)",
                pointColor: "rgba(122,185,1,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(122,185,1,1)",
                data: Data2//[28, 48, 40, 19, 86, 27, 90]
            }
        ]
    };

    var overviewContainer2 = document.getElementById('overview-chart2').getContext("2d");
    var myLineChart2 = new Chart(overviewContainer2).Line(overviewData2, {
        responsive: true,
        scaleGridLineColor: "rgba(0,0,0,.05)",
        multiTooltipTemplate: "<%= value %>%"
    });


    // Dummy data: Bar charts (progreso por módulos + certificación)

    var progresoTotalValue = '@Model.progreso.Total.ToString().Replace(",", ".")%';
    var modInicialValue = '@Model.progreso.ModuloInicial.ToString().Replace(",", ".")%';
    var equiposValue = '@Model.progreso.Equipos.ToString().Replace(",", ".")%';
    var ofertaValue = '@Model.progreso.OfertaYCampana.ToString().Replace(",", ".")%';
    var certifValue = '@Model.progreso.CantidadUsuarios.ToString().Replace(",", ".")%';

    var progresoAgenciasTotalValue = '@Model.progresoAgencia.Progreso.ToString().Replace(",", ".")%';
    var progresoCecsTotalValue = '@Model.progresoCec.Progreso.ToString().Replace(",", ".")%';

    window.onload = function () {

        //$('#progreso-total-value').animate({ width: progresoTotalValue }, 750);
        //$("#progreso-total-percent").prepend(progresoTotalValue);

        $('#progreso-total-value-agencia').animate({ width: progresoAgenciasTotalValue }, 750);
        $("#progreso-total-percent-agencia").prepend(progresoAgenciasTotalValue);

        $('#progreso-total-value-cecs').animate({ width: progresoCecsTotalValue }, 750);
        $("#progreso-total-percent-cecs").prepend(progresoCecsTotalValue);

        $('#mod-inicial-value').animate({ width: modInicialValue }, 750);
        $("#mod-inicial-percent").prepend(modInicialValue);

        $('#equipos-value').animate({ width: equiposValue }, 750);
        $("#equipos-percent").prepend(equiposValue);

        $('#oferta-value').animate({ width: ofertaValue }, 750);
        $("#oferta-percent").prepend(ofertaValue);

        $('#certif-value').animate({ width: certifValue }, 750);
        $("#certif-percent").prepend(certifValue);
    };
    var urlGetPagina = '@Url.Action("GetPagina","Report")';
    function irAPagina(id_pagina) {
        
        $.ajax({
            type: "GET",
            dataType: "json",
            url: urlGetPagina,
            contentType: "application/json; charset=utf-8",
            async: false,
            data: { id_pagina: id_pagina },
            success: function (data) {
                var obj = JSON.parse(data);

                setearBody(obj, id_pagina);
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
        // sp_get_listado_agentes 11, 20
    }
    function setearBody(obj, id_pagina) {
        var body = $('#divBody');
        var datosAgentes = '';
        debugger
        for (i = 0; i < obj.length; i++) {

            datosAgentes = datosAgentes + "<tr>";
            datosAgentes = datosAgentes + "    <td><a href='Report/agente?id_agencia=" + obj[i].Agencia + "' >" + obj[i].Nombre + "</a></td>";
            datosAgentes = datosAgentes + "    <td>" + Math.round(obj[i].Progreso * 100) / 100 + "%</td>";
            datosAgentes = datosAgentes + "    <td>" + Math.round(obj[i].Nota * 100) / 100 + "%</td>";
            datosAgentes = datosAgentes + "</tr>";

        }
        $('.is-active').removeClass('is-active');

        $('#paginacion' + id_pagina).addClass('is-active');
        $('#lblBuscar').addClass('is-active');
        body.html(datosAgentes);

    }


    var urlGetUsers = '@Url.Action("GetUsuarios","Report")';
    function buscarUsuario() {
        var aBuscar = $('#txtBuscar').val();

        $.ajax({
            type: "GET",
            dataType: "json",
            url: urlGetUsers,
            data: { usuario: aBuscar },
            contentType: "application/json; charset=utf-8",
            async: false,
            success: function (data) {
                var obj = JSON.parse(data);
                setearBodyUsuarios(obj);
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    }
    function setearBodyUsuarios(obj) {
        var datosUser = '';
        var body = $('#divBody2');
        for (i = 0; i < obj.length; i++) {
            datosUser = datosUser + "<tr>";
            datosUser = datosUser + "    <td><a href='Report/usuario?id_usuario="+ obj[i].Cod_usuario + "'>" + obj[i].Nombre + "</a></td>";
            datosUser = datosUser + "    <td>" + obj[i].Documento + "</td>";
            datosUser = datosUser + "    <td>" + obj[i].Agencia + "</td>";
            datosUser = datosUser + "    <td>" + obj[i].UltimaActividad + "</td>";
            datosUser = datosUser + "    <td>" + obj[i].Accesos + "</td>";
            datosUser = datosUser + "    <td>" + obj[i].CursosAprobados + "</td>";
            datosUser = datosUser + "    <td>" + obj[i].Progreso + "%</td>";
            datosUser = datosUser + "    <td>" + obj[i].Certificacion + "</td>";
            datosUser = datosUser + "</tr>";
        }
        body.html(datosUser);
    }
    var urlGetUsersNovedades = '@Url.Action("GetReporteNovedadesFiltro", "Report")';
    function buscarUsuarioNovedades() {
        var aBuscar = $('#txtBuscarNovedades').val();

        $.ajax({
            type: "GET",
            dataType: "json",
            url: urlGetUsersNovedades,
            data: { usuario: aBuscar },
            contentType: "application/json; charset=utf-8",
            async: false,
            success: function (data) {
                var obj = JSON.parse(data);
                setearBodyNovedades(obj);
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    }
    function setearBodyNovedades(obj) {
        var datosUser = '';
        var body = $('#divBodyNovedades');
        for (i = 0; i < obj.length; i++) {
            datosUser = datosUser + "<tr>";
            datosUser = datosUser + "    <td>" + obj[i].Nombre + "</td>";
            datosUser = datosUser + "    <td>" + obj[i].Apellido + "</td>";
            datosUser = datosUser + "    <td>" + obj[i].Novedad + "</td>";
            datosUser = datosUser + "    <td>" + obj[i].Descargado + "</td>";
            datosUser = datosUser + "    <td>" + obj[i].Aprobado + "</td>";
            datosUser = datosUser + "    <td>" + obj[i].Reprobados + "</td>";
            datosUser = datosUser + "</tr>";
        }
        body.html(datosUser);
    }


    var urlGetEstadoMails = '@Url.Action("GetReporteEstadoMailsFiltro", "Report")';
    function buscarEstadoMails() {
        var aBuscar = $('#txtBuscarEstadoMails').val();

        $.ajax({
            type: "GET",
            dataType: "json",
            url: urlGetEstadoMails,
            data: { usuario: aBuscar },
            contentType: "application/json; charset=utf-8",
            async: false,
            success: function (data) {
                debugger
                var obj = JSON.parse(data);
                setearBodyEstadoMails(obj);
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    }
    function setearBodyEstadoMails(obj) {
        var datosUser = '';
        var body = $('#divBodyMails');
        for (i = 0; i < obj.length; i++) {
            datosUser = datosUser + "<tr>";
            datosUser = datosUser + "    <td>" + obj[i].Nombre + "</td>";
            datosUser = datosUser + "    <td>" + obj[i].Apellido + "</td>";
            datosUser = datosUser + "    <td>" + obj[i].Agencia + "</td>";
            datosUser = datosUser + "    <td>" + ((obj[i].sn_enviado == -1) ? "Si" : "No") + "</td>";
            datosUser = datosUser + "    <td>" + obj[i].FechaEnviado + "</td>";
            datosUser = datosUser + "    <td>" + obj[i].TipoMail + "</td>";
            datosUser = datosUser + "</tr>";
        }
        body.html(datosUser);
    }



</script>
