﻿@model Sidepro.ViewModels.HomeViewModel
@using Sidepro.Entities
@{
    ViewBag.Title = "Sidepro Movistar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    @Html.Raw("<div class='slider-featured js-slider-featured'>")
    @foreach (Destacado miDestacado in Model.destacados.Where(x => x.TipoDestacado == 1)) { 
        @Html.Raw("<div class='course course--featured-main js-course-hover'>");
        @Html.Raw(" <a href='" + miDestacado.URL + "' class='course__pic' style='background-image: url("+ miDestacado.Imagen +")'></a>");
        @Html.Raw(" <div class='course__overlay course__overlay--default'>");
        @Html.Raw("     <h2 class='course__title'>"+ miDestacado.Titulo +"</h2>");
        @Html.Raw("     <p class='course__description'>" + miDestacado.Descripcion + "</p>");
        @Html.Raw("     <div class='course__btn-container js-course-btn-container'>");
        @Html.Raw("         <a href='" + miDestacado.URL + "' class='course__btn'>Ir al curso<i></i></a>");
        @Html.Raw("     </div>");
        @Html.Raw(" </div>");
        @Html.Raw("</div>");

    }
    @Html.Raw("</div>")
    @Html.Raw("<div class='grid-featured'>")
    @foreach (Destacado miDestacado in Model.destacados.Where(x => x.TipoDestacado == 2)) {
        @Html.Raw("<div class='grid-featured__item'>");
        @Html.Raw("    <div class='course course--featured-smaller js-course-hover'>");
        @Html.Raw("        <a href='" + miDestacado.URL + "' class='course__pic' style='background-image: url(" + miDestacado.Imagen + ")'></a>");
        @Html.Raw("        <div class='course__overlay course__overlay--alt'>");
        @Html.Raw("            <h2 class='course__title'>" + miDestacado.Titulo + "</h2>");
        @Html.Raw("            <p class='course__description'>" + miDestacado.Descripcion + "</p>");
        @Html.Raw("            <div class='course__btn-container js-course-btn-container'>");
        @Html.Raw("                <a href='" + miDestacado.URL + "' class='course__btn'>Ir al curso<i></i></a>");
        @Html.Raw("            </div>");
        @Html.Raw("        </div>");
        @Html.Raw("    </div>");
        @Html.Raw("</div>");
    }
    @Html.Raw("</div>")
  