﻿
@using Sidepro.HelperExtensionNameSpace
@using Sidepro.Entities

@{
    ViewBag.Title = "Sidepro Movistar";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../Images/sidepro.ico" rel="shortcut icon" type="image/x-icon" />
    <title>Sidepro Movistar</title>
    <link href="/PortalMovistar/Content/css/style.css" rel="stylesheet">

    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <script src="js/excanvas.min.js"></script>
    <![endif]-->
</head>
<!--[if IE 8]> <body class="ie"> <![endif]-->
<!--[if gt IE 9]><!--> 
    <body> <!--<![endif]-->
    @Scripts.Render("~/bundles/jquery")
        <script>
        var urlLogin = '@Url.Action("Login", "Home")';

        function login() {
            var User = $('#txtUser').val();
            var Pass = $('#txtPass').val();
            if ((User == '') || (Pass == '')) {
                alert('Usuario o contraseña incorrectos');
            } else {
                $.ajax({
                    type: "GET",
                    dataType: "json",
                    url: urlLogin,
                    contentType: "application/json; charset=utf-8",
                    async: false,
                    data: { user: User, pass: Pass },
                    success: function (data) {
                        
                        if (data.login) {
                            var divError = $('#divloginError');
                            divError.html('');
                            divError.removeClass('login__error');
                            if (data.tipo_usuario != -1) {
                                if (data.tipo_usuario == 16) {
                                    window.location.replace(window.location + '/Report?id_module=5');
                                } else {
                                    window.location.replace(window.location + '/Home/Home');
                                }
                            } else {
                                window.location.replace(window.location + '/ABM/modulo');
                            }
                        } else {
                            var divError = $('#divloginError');
                            divError.html(data.mensaje);
                            divError.addClass('login__error');
                            //alert('Usuario o contraseña incorrectos');
                        }
                    },
                    error: function (xhr, status, error) {
                        alert(error);
                    }
                });
            }
        }
        $(document).keypress(function (e) {
            if (e.which == 13) {
                var User = $('#txtUser').val();
                var Pass = $('#txtPass').val();
                if (!((User == '') || (Pass == ''))) {
                    login();
                }
            }
        });
    </script>
        <div class="login">
            <div class="login__container">
                <div class="login__logo"></div>
                <div class="" id="divloginError"></div>
                <div class="login__input login__input--user">
                    <input type="text" id="txtUser" placeholder="Usuario" autofocus>
                </div>
                <div class="login__input login__input--password">
                    <input type="password" id="txtPass" placeholder="Contraseña">
                </div>
                <input type="button" value="Ingresar" onClick="login()" class="login__button">
            </div>
        </div>
    </body>
</html>