﻿@{
    ViewBag.Title = "Sidepro Movistar";
}

    <aside class="sidebar js-sidebar">
        <button class="sidebar__toggle js-sidebar-toggle" title="Mostrar/ocultar barra lateral"></button>
        <div class="sidebar__wrapper">
            <div class="sidebar__container js-sidebar-container">
                <div class="history">
                    <h3 class="subtitle subtitle--sidebar">Historial de cursos</h3>
                    <div class="history__container js-history-container">
                        <a href="course.html" class="history__item history__item--mod-inicial">
                            <p class="history__category">Módulo inicial</p>
                            <p class="history__title">Planes Vigentes</p>
                        </a>
                        <a href="course.html" class="history__item history__item--equipos">
                            <p class="history__category">Equipos</p>
                            <p class="history__title">Samsung Galaxy S6</p>
                        </a>
                        <a href="course.html" class="history__item history__item--oferta">
                            <p class="history__category">Oferta y campaña</p>
                            <p class="history__title">Campaña permanente</p>
                        </a>
                        <a href="course.html" class="history__item history__item--saber-mas">
                            <p class="history__category">Saber más</p>
                            <p class="history__title">4G LTE</p>
                        </a>
                        <a href="course.html" class="history__item history__item--certif">
                            <p class="history__category">Certificación</p>
                            <p class="history__title">Guia básica</p>
                        </a>
                    </div>
                </div>
                <div class="progress">
                    <h3 class="subtitle subtitle--sidebar">Tu progreso</h3>
                    <div class="progress__chart progress__chart--total">
                        <div class="progress__text progress__text--total">
                            <span class="progress__chart-label">total</span>
                            <span class="progress__chart-percent" id="js-total-percent"></strong>
                        </div>
                        <canvas class="progress__total" height="200" width="200" id="js-progress-total"></canvas>
                    </div>
                    <div class="progress__chart">
                        <div class="progress__text">
                            <span class="progress__chart-label">Módulo Inicial</span>
                            <span class="progress__chart-percent" id="js-mod-inicial-percent"></strong>
                        </div>
                        <div class="progress__bar">
                            <span class="progress__value progress__value--mod-inicial" id="js-mod-inicial-value"></span>
                        </div>
                    </div>
                    <div class="progress__chart">
                        <div class="progress__text">
                            <span class="progress__chart-label">Equipos</span>
                            <span class="progress__chart-percent" id="js-equipos-percent"></strong>
                        </div>
                        <div class="progress__bar">
                            <span class="progress__value progress__value--equipos" id="js-equipos-value"></span>
                        </div>
                    </div>
                    <div class="progress__chart">
                        <div class="progress__text">
                            <span class="progress__chart-label">Oferta y Campaña</span>
                            <span class="progress__chart-percent" id="js-oferta-percent"></strong>
                        </div>
                        <div class="progress__bar">
                            <span class="progress__value progress__value--oferta" id="js-oferta-value"></span>
                        </div>
                    </div>
                    <div class="progress__chart">
                        <div class="progress__text">
                            <span class="progress__chart-label">Saber más</span>
                            <span class="progress__chart-percent" id="js-saber-mas-percent"></strong>
                        </div>
                        <div class="progress__bar">
                            <span class="progress__value progress__value--saber-mas" id="js-saber-mas-value"></span>
                        </div>
                    </div>
                    <div class="progress__chart">
                        <div class="progress__text">
                            <span class="progress__chart-label">Certificación</span>
                            <span class="progress__chart-percent" id="js-certif-percent"></strong>
                        </div>
                        <div class="progress__bar">
                            <span class="progress__value progress__value--certif" id="js-certif-value"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </aside>
    <div class="site-content">
        <div class="site-content__wrapper js-site-content-wrapper">
            <div class="site-content__container js-site-content-container">
                <div class="slider-featured js-slider-featured">
                    <div class="course course--featured-main js-course-hover">
                        <a href="course.html" class="course__pic" style="background-image: url(../../Images/placeholders/s6.jpg)"></a>
                        <div class="course__overlay course__overlay--default">
                            <h2 class="course__title">Samsung Galaxy S6</h2>
                            <p class="course__description">Cámara, características generales, diseño y pantalla, seguridad, tips para el vendedor...</p>
                            <div class="course__btn-container js-course-btn-container">
                                <a href="course.html" class="course__btn">Ir al curso<i></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="course course--featured-main js-course-hover">
                        <a href="course.html" class="course__pic" style="background-image: url(../../Images/placeholders/1340x550.png)"></a>
                        <div class="course__overlay course__overlay--default">
                            <h2 class="course__title">Nombre del curso</h2>
                            <p class="course__description">Descripción corta del curso o del contenido de las distintas lecciones en su interior.</p>
                            <div class="course__btn-container js-course-btn-container">
                                <a href="course.html" class="course__btn">Ir al curso<i></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="course course--featured-main js-course-hover">
                        <a href="course.html" class="course__pic" style="background-image: url(../../Images/placeholders/1340x550.png)"></a>
                        <div class="course__overlay course__overlay--default">
                            <h2 class="course__title">Nombre del curso</h2>
                            <p class="course__description">Descripción corta del curso o del contenido de las distintas lecciones en su interior.</p>
                            <div class="course__btn-container js-course-btn-container">
                                <a href="course.html" class="course__btn">Ir al curso<i></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid-featured">
                    <div class="grid-featured__item">
                        <div class="course course--featured-smaller js-course-hover">
                            <a href="course.html" class="course__pic" style="background-image: url(../../Images/placeholders/s6.jpg)"></a>
                            <div class="course__overlay course__overlay--alt">
                                <h2 class="course__title">Nombre del curso</h2>
                                <p class="course__description">Descripción corta del curso o del contenido de las distintas lecciones en su interior.</p>
                                <div class="course__btn-container js-course-btn-container">
                                    <a href="course.html" class="course__btn">Ir al curso<i></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid-featured__item">
                        <div class="course course--featured-smaller js-course-hover">
                            <a href="course.html" class="course__pic" style="background-image: url(../../Images/placeholders/s6.jpg)"></a>
                            <div class="course__overlay course__overlay--alt">
                                <h2 class="course__title">Nombre del curso</h2>
                                <p class="course__description">Descripción corta del curso o del contenido de las distintas lecciones en su interior.</p>
                                <div class="course__btn-container js-course-btn-container">
                                    <a href="course.html" class="course__btn">Ir al curso<i></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- /.site-content__container -->
            <footer class="footer js-footer">
                <div class="footer__container">
                    <div class="footer__help">
                        <button data-featherlight="ajax/help.html" class="footer__help-link"><i></i>¿Necesitás ayuda?</button>
                    </div>
                    <div class="footer__copy">
                        <small>desarrollado por</small>
                        <span>Grupo Amedia</span>
                    </div>
                </div>
            </footer>
        </div> <!-- /.site-content__wrapper -->
    </div> <!-- /.site-content -->
    <!--  PLUGINS  -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="../../Scripts/jquery.featherlight.js"></script>
    <script src="../../Scripts/chart.min.js"></script>
    <script src="../../Scripts/masonry.pkgd.min.js"></script>
    <script src="../../Scripts/jquery.dotdotdot.min.js"></script>
    <script src="../../Scripts/perfect-scrollbar.min.js"></script>
    <script src="../../Scripts/jquery.tooltipster.min.js"></script>
    <script src="../../Scripts/scripts.js"></script>
    <script src="../../Scripts/jquery.slick.min.js"></script>
