html {
	min-height: 100%;
	font-size: 100%;
	position: relative;
	-webkit-font-smoothing: antialiased;
}

body {
	font-size: 18px;
	font-family: $default-stack;
	color: $dark-gray;
	background: darken($light-gray,5);
	margin: 0 0 80px;
}

p {
	line-height: 1.35em;
}

a {
	color: inherit;
	text-decoration: none;
}

::selection {
	background: rgba($movistar-blue-1,0.75);
	color: white;
}
::-moz-selection {
	background: rgba($movistar-blue-1,0.75);
	color: white;
}

.title {
	font-family: $headline-stack;
	font-weight: normal;
}

.label {
	border-radius: 2px;
	text-transform: uppercase;
	font-size: 0.7em;
	font-weight: bold;
	padding: 5px 9px;
	margin-left: 8px;
	position: relative;
	top: -1px;

	&--blue {
		background-color: $movistar-blue-2;
	}

	&--green {
		background-color: $movistar-green-2;
	}
}