.site-content {
	max-width: 1400px;
	margin: 0 auto;
	position: relative;
	@include clearfix;

	&--default {
		padding: 35px 30px 0 30px;

		@include media($tablet) {
			padding: 30px 15px 0 15px;
		}
	}
}

.card {
	background: white;

	&--agent-info {
		margin-bottom: 30px;

		@include media($desktop-sm) {
			margin-bottom: 20px;
		}
	}

	&--agents-list {
		max-width: 767px;
		margin: 0 auto;
	}

	&__header {
		background: $movistar-green-2;
		padding: 15px 40px;
		
		h2 {
			color: white;
			margin: 0;
			font-family: $headline-stack;
			letter-spacing: 0.02em;
			position: relative;
			top: -2px;

			@include media($tablet) {
				font-size: 1.4em;
			}

			@include media($mobile) {
				font-size: 1.3em;
			}
		}

		@include media($mobile) {
			padding: 12px 30px;
		}
	}

	&__content {
		padding: 30px;
		@include clearfix;
	}
}